.woocommerce-cart {
	h2 {
		font-size: 24px;
		font-weight: normal;
	}

	&.cart-page-layout-1 {
		#content {
			>.woostify-container {
				@media (min-width: $screen-sm) {
					width: 970px;
					max-width: 100%;
				}
			}
		}

		@media (min-width: $screen-md) {
			.cross-sells {
				width: 48.5%;
				float: left;
				margin-bottom: 30px;
			}

			.cart_totals {
				width: 48.5%;
				float: right;
			}
		}

		.cart_totals {
			.shop_table {
				border: 1px solid #eee;
			}

			tr {
				border-bottom-color: #eee;
			}
		}

		.cart-collaterals {
			th,
			td {
				padding: 15px;
			}
		}
	}

	&.cart-page-layout-2 {
		.woocommerce-cart-form__contents {
			margin-top: 0;
		}

		@media (min-width:$screen-md) {
			.woocommerce-cart-form {
				width: 65%;
				float: left;
			}

			.cart-collaterals {
				width: calc(35% - 40px);
				float: right;
			}
		}

		.cart-collaterals {
			border: 2px solid #efefef;
			padding: 10px 20px 30px 20px;
		}
	}

	.woocommerce-cart-form {
		margin-bottom: 50px;
	}
}

.woocommerce-cart-form__contents:not(.elementor-menu-cart__products) {
	border-width: 0;
	border-collapse: separate;
	table-layout: auto;

	@media (max-width: $screen-sm - 1) {
		margin-bottom: 0;
	}

	th,
	td {
		padding: 20px 0;
	}

	.product-remove {
		a {
			font-size: 1.5em;
			position: relative;
			width: 1.2em;
			height: 1.2em;
			@extend .inline-flex;

			&:hover {
				color: firebrick
			}

			&:focus {
				color: $tr;
				@extend .circle-loading;
			}
		}

		@media (max-width: $screen-sm - 1) {
			a {
				background-color: firebrick;
				color: #fff $i;
			}
		}
	}

	.quantity {
		border: 1px solid #e8e8e8;
		width: 100px;
		margin-right: 0;
	}

	.actions {
		.coupon {
			width: 100%;

			@media (min-width: $screen-md) {
				float: left;
				width: 60%;

				+ [name="update_cart"] {
					width: 40%;
				}
			}

			@media (max-width: $screen-md - 1) {
				justify-content: center;

				[name="apply_coupon"] {
					color: #fff;
				}
			}

			[name="apply_coupon"] {
				white-space: nowrap;
				height: 40px;
				padding: 0 20px;
				color: #ffffff;
			}
		}

		[name="coupon_code"] {
			background-color: transparent;
		}

		@media (max-width: $screen-md - 1) {
			display: flex;
			flex-direction: column-reverse;

			[name="update_cart"] {
				margin-bottom: 30px;
			}
		}
	}

	@media (min-width: $screen-md) {
		thead {
			th {
				border-bottom: 1px solid #ddd;
			}
		}

		tbody {
			tr {
				+tr {
					td {
						border-top-width: 1px;
					}
				}
			}
		}

		tr {
			&:nth-last-child(2) {
				td {
					padding-bottom: 50px;
				}
			}
		}

		th,
		td {
			padding: 30px 0;
			border-width: 0;

			&:not(:first-child):not(:last-child):not(.product-thumbnail) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.product-remove {
			width: 40px;
		}

		.product-thumbnail {
			width: 70px;
		}

		.product-name,
		.product-subtotal {
			font-weight: 700;
		}

		.product-quantity {
			text-align: center;
		}

		.quantity {
			min-width: 140px;
		}

		.product-subtotal {
			text-align: right;
		}

		.product-price,
		.product-subtotal {
			min-width: 100px;
		}

		/* actions */
		.actions {
			text-align: right;
			padding: 0;

			[name="update_cart"] {
				border-width: 0 0 0 1px;
				border-style: dashed;
				border-color: #e2e2e2;
			}
		}

		.coupon {
			height: 100px;
			display: flex;
			align-items: center;
			background-repeat: no-repeat;
			background-size: 40px 40px;
			background-position: center left 30px;
			label {
				display: none;
			}
		}

		[name="coupon_code"] {
			border-width: 1px;
			height: 40px;
			margin-right: 10px;
			padding: 0 20px;
		}

		[name="apply_coupon"] {
			font-weight: 600;
			font-size: 12px;
			text-transform: uppercase;
			border-bottom: 1px solid #ccc;
			height: 30px;
			padding: 0 10px;
			border-radius: 0;
			background-color: $tr;

			&:hover {
				background-color: $tr;
			}
		}

		[name="update_cart"] {
			height: 100%;
			width: 100%;
			border-radius: 0;
			font-weight: 600;
			height: 100px;

			&:disabled {
				color: #fff;
			}
		}
	}

	@media (max-width: $screen-md - 1) {
		thead {
			display: none;
		}

		tbody {
			tr {
				display: flex;
				border-bottom: 1px solid #efecec;
				flex-direction: column;
				position: relative;

				td {
					border-bottom-style: dashed;
					border-bottom-color: #efecec;
					border-right: 0;
					display: flex;
					flex-wrap: nowrap;
					justify-content: space-between;
					align-items: center;
					text-align: left $i;
					padding: 5px 0;

					&:before{
						content: attr(data-title);
						font-size: 13px;
						font-weight: normal;
						text-align: left;
					}

					&:last-of-type {
						border-bottom: 0;
					}
				}
			}

			.cart_item {
				padding-left: 85px;
			}

			.bundled-product-name.bundled_table_item_indent {
				padding-left: 0;
			}
		}

		.product-remove,
		.product-thumbnail {
			position: absolute;
			border-bottom: 0;
			top: 0;
		}

		.product-thumbnail {
			justify-content: center;
			left: 0;

			img {
				max-width: 70px;
			}
		}

		.product-remove {
			right: 0;

			a {
				background-color: $tr;
				color: firebrick $i;
			}
		}

		.product-name {
			&:before {
				display: none;
			}

			a {
				font-weight: 700;
			}
		}

		.quantity {
			height: 30px;
			font-size: 12px;
			max-width: 80px;

			.product-qty {
				max-width: 30px;
			}

			.qty {
				text-align: center;
				padding: 0;
				font-size: 12px;
			}
		}

		.actions {
			padding-top: 30px;
			padding-bottom: 0;
		}

		.coupon {
			label {
				display: none;
			}

			[name="coupon_code"],
			[name="apply_coupon"] {
				width: 100%;
				padding: 10px 15px;
			}

			[name="coupon_code"] {
				height: 48px;
				margin-bottom: 10px;
			}
		}

		[name="update_cart"] {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
		}
	}
}

.checkout-button {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 55px;
	padding-top: 0;
	padding-bottom: 0;
	display: block;
	text-align: center;
}

// Cart total from Cart page
.cart-collaterals {
	@extend .clearfix;
}

.cart_totals {
	.shop_table {
		margin: 0;
		border: 0;
		width: 100%;

		tr {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			border-bottom: 1px solid #ddd;

			th,
			td {
				border: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		th {
			font-weight: 600;
		}

		tbody {
			th,
			td {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		input[type="radio"] {
			margin-right: 10px;
		}

		[name="calc_shipping"] {
			width: 100%;
			height: 50px;
		}

		.cart-subtotal {
			th,
			td {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		.order-total {
			border-bottom: 0;

			th,
			td {
				font-size: 18px;
				padding-top: 20px;
			}

			th {
				white-space: nowrap;
				padding-right: 10px;
			}

			td {
				text-align: right;
			}
		}

		.woocommerce-shipping-totals {
			flex-direction: column;
			padding-top: 5px;

			td {
				text-align: left !important;
				padding-top: 0;
			}
		}

		@media (max-width: $screen-md - 1) {
			th {
				display: block;
			}

			td {
				&:before {
					content: ''
				}
			}
		}
	}

	#shipping_method {
		margin-top: 0;
	}

	.wc-proceed-to-checkout {
		margin-top: 20px;
	}

	li {
		list-style: none;
	}
}
