.woocommerce-cart {
	h2 {
		font-size: 24px;
		font-weight: normal;
	}

	&.cart-page-layout-1 {
		#content {
			>.woostify-container {
				@media (min-width: $screen-sm) {
					width: 970px;
					max-width: 100%;
				}
			}
		}

		@media (min-width: $screen-md) {
			.cross-sells {
				width: 48.5%;
				float: left;
				margin-bottom: 30px;
			}

			.cart_totals {
				width: 48.5%;
				float: right;
			}
		}

		.cart-collaterals {

			.shop_table,
			th {
				background-color: #fcfcfc;
			}

			th {
				background-color: #f8f8f8;
			}
		}
	}

	&.cart-page-layout-2 {
		.woocommerce-cart-form__contents {
			margin-top: 0;
		}

		@media (min-width:$screen-md) {
			.woocommerce-cart-form {
				width: 65%;
				float: left;
			}

			.cart-collaterals {
				width: calc(35% - 40px);
				float: right;
			}
		}

		.cart-collaterals {
			border: 2px solid #efefef;
			padding: 10px 20px 30px 20px;

			th,
			td {
				padding: 15px 15px 15px 0;

				&:nth-child(2) {
					text-align: right;
				}
			}
		}
	}

	.woocommerce-cart-form {
		margin-bottom: 50px;
	}
}

.woocommerce-cart-form__contents {
	border-width: 0;
	border-collapse: separate;
	table-layout: auto;

	@media (max-width: $screen-sm - 1) {
		margin-bottom: 0;
	}

	thead {
		display: none;
	}

	th,
	td {
		padding: 20px 0;
	}

	.product-remove {
		a {
			font-size: 1.5em;
			position: relative;
			width: 1.2em;
			height: 1.2em;
			@extend .inline-flex;

			&:hover {
				color: firebrick
			}

			&:focus {
				color: $tr;
				@extend .circle-loading;
			}
		}

		@media (max-width: $screen-sm - 1) {
			a {
				background-color: firebrick;
				color: #fff $i;
			}
		}
	}

	.quantity {
		border: 1px solid #e8e8e8;
		width: 100px;
		margin-right: 0;
	}

	.actions {
		.coupon {
			width: 100%;

			@media (min-width: $screen-md) {
				float: left;
				width: 60%;

				+ [name="update_cart"] {
					width: 40%;
				}
			}

			@media (max-width: $screen-md - 1) {
				justify-content: center;

				[name="apply_coupon"] {
					color: #fff;
				}
			}

			[name="apply_coupon"] {
				white-space: nowrap;
			}
		}

		[name="coupon_code"] {
			background-color: transparent;
		}

		[name="update_cart"] {
			@media (max-width: $screen-md - 1) {
				color: #fff;
			}
		}
	}

	@media (min-width: $screen-sm) {
		tbody {
			tr {
				+tr {
					td {
						border-top-width: 1px;
					}
				}
			}
		}

		tr {
			&:nth-last-child(2) {
				td {
					padding-bottom: 50px;
				}
			}
		}

		th,
		td {
			padding: 30px 0;
			border-width: 0;

			&:not(:first-child):not(:last-child):not(.product-thumbnail) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.product-remove {
			width: 40px;
		}

		.product-thumbnail {
			width: 70px;
		}

		.product-name,
		.product-subtotal {
			font-weight: 700;
		}

		.product-quantity {
			text-align: center;
		}

		.quantity {
			min-width: 140px;
		}

		.product-subtotal {
			text-align: right;
		}

		.product-price,
		.product-subtotal {
			min-width: 100px;
		}

		/* actions */
		.actions {
			text-align: right;
			border: 2px dashed #e8e8e8;
			padding: 0;

			[name="update_cart"] {
				border-width: 0 0 0 1px;
				border-style: dashed;
				border-color: #e2e2e2;
			}
		}

		.coupon {
			height: 100px;
			display: flex;
			align-items: center;
			background-repeat: no-repeat;
			background-size: 40px 40px;
			background-position: center left 30px;

			@media (min-width: $screen-sm) {
				padding-left: 100px;
				background-image: url(assets/images/coupon.svg);
			}

			label {
				display: none;
			}
		}

		[name="coupon_code"] {
			border-width: 0 0 1px 0;
			height: 30px;
		}

		[name="apply_coupon"] {
			font-weight: 600;
			font-size: 12px;
			text-transform: uppercase;
			border-bottom: 1px solid #ccc;
			height: 30px;
			padding: 0 10px;
			border-radius: 0;
			background-color: $tr;

			&:hover {
				background-color: $tr;
			}
		}

		[name="update_cart"] {
			height: 100%;
			width: 100%;
			border-radius: 0;
			font-weight: 600;
			height: 100px;

			&:disabled {
				color: #fff;
			}

			&:before {
				font-family: $icon;
				content: "\e619";
				font-size: 15px;
				margin-right: 15px;
			}
		}
	}

	@media (max-width: $screen-sm - 1) {
		.product-thumbnail {
			display: none;
		}

		.product-remove {
			a {
				background-color: firebrick;
				filter: grayscale(70%);
				color: #fff $i;
			}
		}

		.actions {
			padding-top: 30px;
			padding-bottom: 0;
		}

		.coupon {
			label {
				display: none;
			}

			[name="coupon_code"],
			[name="apply_coupon"] {
				width: 100%;
				padding: 10px 15px;
			}

			[name="coupon_code"] {
				height: 48px;
				margin-bottom: 10px;
			}
		}

		[name="update_cart"] {
			width: 100%;
			padding: 10px;
			margin: 10px 0;
		}
	}
}

.clear-cart-box {
	clear: both;
	text-align: center;
	@extend .clearfix;

	@media (min-width: $screen-sm) {
		text-align: right;
	}

	.clear-cart-btn {
		height: 40px;
		line-height: 40px;
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
		font-weight: 600;

		@media (max-width: $screen-sm - 1) {
			width: 100%;
			float: left;
		}
	}
}

.cart-collaterals {
	@extend .clearfix;

	.shop_table,
	th {
		border: 0;
	}

	th {
		font-weight: 700;
	}

	th,
	td {
		padding: 15px;
		border: 0;

		&:nth-child(2) {
			text-align: right;
		}
	}

	input[type="radio"] {
		float: right;
		margin-right: 0;
		margin-left: 10px;
		margin-top: 4px;
	}

	[name="calc_shipping"] {
		width: 100%;
		height: 50px;
	}
}

.checkout-button {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 55px;
	padding-top: 0;
	padding-bottom: 0;
	display: block;
	text-align: center;
}

// Cart total from Cart page
.cart_totals {
	.shop_table {
		th {
			white-space: nowrap;
		}
	}
}
