.woocommerce-checkout {
	.woocommerce {
		position: relative;

		.woocommerce-error {
			clear: both;
		}
	}
}

/* login form */
.woocommerce-form-login-toggle {
	max-width: 600px;
	margin: 0 auto 10px auto;
	@extend .flex;

	.woocommerce-info {
		color: $inh;
	}

	.showlogin {
		font-weight: 700;
	}
}

.woocommerce-form.woocommerce-form-login {
	clear: both;
	border: 2px dashed #e8e8e8;
	border-radius: 2px;
	padding: 30px;
	max-width: 600px;
	margin: 0 auto 30px auto;

	.form-row,
	.form-row-first,
	.form-row-last {
		width: 100%;
	}

	p:not(.form-row):not(.lost_password) {
		font-size: small;
		line-height: 1.5em;
	}

	.inline {
		display: inline-block;
		margin-left: 10px;
	}

	.woocommerce-form-login__rememberme {
		text-align: center;
	}

	.woocommerce-form-login__submit {
		padding-left: 40px;
		padding-right: 40px;
		display: block;
		margin: 10px auto 0 auto;
	}

	.lost_password {
		display: block;
		clear: both;
		margin-bottom: 0;
		text-align: center;
	}

	.input-text {
		height: 40px;
	}
}

/* coupon form */
.woocommerce-form-coupon-toggle {
	max-width: 600px;
	margin: 0 auto 15px auto;
	@extend .flex;

	.woocommerce-info {
		color: $inh;
	}

	.showcoupon {
		font-weight: 700;
	}
}

.checkout_coupon.woocommerce-form-coupon {
	border: 2px dashed #e8e8e8;
	border-radius: 2px;
	max-width: 600px;
	margin: 0 auto 30px auto;
	padding: 30px;
	justify-content: center;
	align-items: center;

	@media (max-width: $screen-md - 1) {
		margin-top: 30px $i;
	}

	.form-row-first,
	.form-row-last {
		width: 100%;
		text-align: center;
	}

	.form-row-last {
		margin-bottom: 0;
	}

	button[type="submit"] {
		margin-top: 10px;
		padding: .35em 40px;
		height: auto;
		color: #fff;
	}

	p:not(.form-row) {
		display: none;
	}
}

.checkout_coupon.woocommerce-form-coupon,
.checkout.woocommerce-checkout {
	@extend .clearfix;
}

[name="checkout"] {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 30px;
}

/* customer details */
#customer_details {
	@extend .clearfix;

	@media (min-width: $screen-md) {
		float: left;
		width: calc(100% - 470px);
		padding-right: 60px;
	}
}

.woocommerce-billing-fields {
	@extend .clearfix;

	>h3 {
		font-size: 24px;
		font-weight: normal;
	}
}

.form-row {
	float: left;

	label {
		display: block;
	}

	abbr {
		text-decoration: none;
	}

	@at-root .required {
		color: firebrick;
	}

	.input-text {
		width: 100%;
		height: 50px;
		padding: 0 1em;
		border-radius: 2px;
	}

	&.notes {
		width: 100%;
	}
}

.form-row-first,
.form-row-last {
	width: 48%;
}

.form-row-last {
	float: right;
}

.form-row-wide {
	clear: both;
	width: 100%;
}

#order_review_heading {
	display: none;
}

/* order review */
#order_review {
	background-color: #f9f9f9;
	padding: 30px;
	border-radius: 4px;

	@media (min-width: $screen-md) {
		float: left;
		width: 470px;
	}

	.shop_table {
		margin: 0;
		border: 0;

		tbody {

			td,
			th {
				border: 0;
			}
		}

		.cart-subtotal {
			th {
				border: 0;
			}
		}

		td,
		th {
			padding-left: 0;
			padding-right: 0;
			border-left: 0;
			border-right: 0;

			&:last-child {
				text-align: right
			}
		}
	}

	li {
		list-style: none;
	}
}

.woocommerce-checkout-review-order-table {
	.product-name {
		strong {
			font-weight: normal;
		}
	}

	.order-total {
		th {
			font-weight: 700;
		}

		th,
		td {
			padding: 30px 0;
		}
	}

	#shipping_method {
		text-align: right;

		input[type="radio"] {
			float: right;
			margin-right: 0;
			margin-top: 4px;
			margin-left: 10px;
		}
	}
}

#ship-to-different-address {
	font-size: 1em;
	font-weight: normal;
}

#order_comments {
	padding: 1em;
	height: auto;
	min-height: 150px;
	resize: none;
}

#payment {
	@extend .clearfix;
}

.wc_payment_methods {
	padding-left: 0;
}

.wc_payment_method {
	margin-bottom: 10px;

	label {
		font-weight: 600;
	}
}

.payment_box {
	padding: 10px 10px 10px 15px;
	background-color: #ebebeb;
	border-radius: 4px;
	margin: 1em 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
	position: relative;

	&:before {
		bottom: 100%;
		left: 30px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(221, 221, 221, 0);
		border-bottom-color: #ebebeb;
		border-width: 8px;
		margin-left: -8px;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.payment_method_paypal {
	img {
		max-height: 52px;
		margin-left: 10px;
	}

	.about_paypal {
		display: inline-block;
		margin-left: 10px;
		clear: both;
		font-size: smaller;
		font-weight: normal;
	}
}

.place-order {
	width: 100%;
}

#place_order {
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	margin-top: 30px;
}

/* select 2 */
.select2-container {
	.select2-selection--single {
		height: 50px;
		margin: 0;
		border-radius: 0;
		border-color: #e8e8e8;
	}
}

.select2-container--default {
	.select2-selection--single {
		.select2-selection__rendered {
			height: 50px;
			line-height: 50px;
			padding: 0 1em;
		}

		.select2-selection__arrow {
			right: 0;
			top: 0;
			width: 20px;
			height: 50px;
			@extend .flex;
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			border-color: #ddd;
		}
	}
}

.select2-dropdown {
	border-color: #e8e8e8;
}

/* responsive */
@media (min-width: $screen-md) {
	.woocommerce-order-pay {
		#order_review {
			float: none;
			margin: 0 ato;
		}
	}
}

@media (max-width: $screen-md - 1) {
	#order_review {
		clear: both;
		margin-top: 30px;
	}

}

@media (max-width: 600px) {
	.woocommerce-billing-fields {

		.form-row-first,
		.form-row-last {
			float: left;
			width: 100%;
		}
	}

	#order_review {
		padding: 15px 15px 30px 15px;
	}
}
