.woocommerce-checkout {
	.woocommerce {
		position: relative;

		.woocommerce-error {
			clear: both;
		}
	}
	input {
	    word-break: normal;
	}
}

// login form
.woocommerce-form-login-toggle {
	max-width: 600px;
	margin: 0 auto 10px auto;
	@extend .flex;

	.woocommerce-info {
		color: $inh;
	}

	.showlogin {
		font-weight: 700;
	}
}

.woocommerce-form.woocommerce-form-login {
	clear: both;
	border: 2px dashed #e8e8e8;
	border-radius: 2px;
	padding: 30px;
	max-width: 600px;
	margin: 0 auto 30px auto;

	.form-row,
	.form-row-first,
	.form-row-last {
		width: 100%;
	}

	p:not(.form-row):not(.lost_password) {
		font-size: small;
		line-height: 1.5em;
	}

	.inline {
		display: inline-block;
		margin-left: 10px;
	}

	.woocommerce-form-login__rememberme {
		text-align: center;
	}

	.woocommerce-form-login__submit {
		padding-left: 40px;
		padding-right: 40px;
		display: block;
		margin: 10px auto 0 auto;
	}

	.lost_password {
		display: block;
		clear: both;
		margin-bottom: 0;
		text-align: center;
	}

	.input-text {
		height: 40px;
	}
}

// coupon form
.woocommerce-form-coupon-toggle {
	max-width: 600px;
	margin: 0 auto 15px auto;
	@extend .flex;

	.woocommerce-info {
		color: $inh;
	}

	.showcoupon {
		font-weight: 700;
	}
}

.checkout_coupon.woocommerce-form-coupon {
	border: 2px dashed #e8e8e8;
	border-radius: 2px;
	max-width: 600px;
	margin: 0 auto 30px auto;
	padding: 30px;
	justify-content: center;
	align-items: center;

	@media (max-width: $screen-md - 1) {
		margin-top: 30px $i;
	}

	.form-row-first,
	.form-row-last {
		width: 100%;
		text-align: center;
	}

	.form-row-last {
		margin-bottom: 0;
	}

	[name="apply_coupon"] {
		margin-top: 10px;
		padding: .35em 40px;
		height: auto;
		color: #fff;
	}

	p:not(.form-row) {
		display: none;
	}
}

.checkout_coupon.woocommerce-form-coupon,
.checkout.woocommerce-checkout {
	@extend .clearfix;
}

// Form checkout
[name="checkout"] {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 30px;

	.has-multi-step-checkout & {
		@media (max-width: $screen-md) {
			display: flex;
			flex-direction: column-reverse;

			.woocommerce-NoticeGroup {
				order: 1;
			}
		}
	}
}

// customer details
#customer_details {
	@extend .clearfix;

	@media (min-width: $screen-md) {
		float: left;
		width: calc(100% - 400px);
		padding-right: 40px;
	}

	// Optimize loading
	.form-row {
		select {
			height: 50px;
			width: 100%;
			border: 1px solid #ccc;
			background-color: transparent;
			padding: 0 15px;
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
		}
	}
}

.woocommerce-billing-fields {
	@extend .clearfix;

	>h3 {
		font-size: 24px;
		font-weight: normal;
		display: none;
	}
}

.form-row {
	float: left;

	label {
		display: block;
	}

	abbr {
		text-decoration: none;
	}

	@at-root .required {
		color: firebrick;
	}

	.input-text {
		width: 100%;
		height: 50px;
		padding: 0 1em;
		border-radius: 2px;
	}

	&.notes {
		width: 100%;
	}
}

.form-row-first,
.form-row-last {
	width: 48%;
}

.form-row-last {
	float: right;
}

.form-row-wide {
	clear: both;
	width: 100%;
}

#order_review_heading {
	display: none;
}

// order review
#order_review {
	background-color: #f9f9f9;
	padding: 30px;
	border-radius: 4px;

	@media (min-width: $screen-md) {
		float: left;
		width: 400px;
	}

	li {
		list-style: none;
	}
}

.woocommerce-checkout-review-order-table {
	margin: 0;
	border: 0;
	width: 100%;

	th {
		white-space: nowrap;
	}

	tr {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		border-bottom: 1px solid #ddd;

		th,
		td {
			border: 0;
			padding-left: 0;
			padding-right: 0;
			display: block;

			&:last-child {
				text-align: right;
			}
		}
	}

	thead {
		th {
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}

	tbody {
		tr {
			align-items: center;
		}

		th,
		td {
			padding-top: 10px;
			padding-bottom: 10px;

			&:last-child {
				white-space: nowrap;
				margin-left: 10px;
			}
		}
	}

	tfoot {
		th {
			font-size: 15px;
		}
	}

	#shipping_method {
		margin: 0;
	}

	.woocommerce-shipping-totals {
		th {
			padding-bottom: 5px !important;
		}

		td {
			padding-top: 5px !important;
		}
	}

	.cart-subtotal {
		th,
		td {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.order-total {
		th,
		td {
			font-size: 18px;
		}
	}

	.woocommerce-shipping-totals {
		flex-direction: column;
		padding-top: 5px;
		display: block;

		td {
			text-align: left !important;
		}
	}

	.product-name {
		strong {
			font-weight: normal;
		}
	}

	.order-total {
		th,
		td {
			padding: 20px 0;
		}
	}

	#shipping_method {
		input[type="radio"] {
			margin-right: 10px;
		}
	}
}

#ship-to-different-address {
	font-size: 1em;
	font-weight: normal;
}

#order_comments {
	padding: 1em;
	height: auto;
	min-height: 150px;
	resize: none;
	display: block;
}

#payment {
	@extend .clearfix;
}

.wc_payment_methods {
	padding-left: 0;
}

.wc_payment_method {
	margin-bottom: 10px;

	label {
		font-weight: 600;
	}
}

.payment_box {
	padding: 10px 10px 10px 15px;
	background-color: #efefef;
	border-radius: 4px;
	margin: 1em 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
	position: relative;

	&:before {
		bottom: 100%;
		left: 30px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(221, 221, 221, 0);
		border-bottom-color: #ebebeb;
		border-width: 8px;
		margin-left: -8px;
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.payment_method_paypal {
	img {
		max-height: 52px;
		margin-left: 10px;
	}

	.about_paypal {
		display: inline-block;
		margin-left: 10px;
		clear: both;
		font-size: smaller;
		font-weight: normal;
	}
}

.place-order {
	width: 100%;
}

#place_order {
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	min-height: 50px;
	margin-top: 30px;
}

// Multi step checkout
.has-multi-step-checkout {
	#order_review {
		margin-bottom: 50px;

		@media (max-width: $screen-md - 1) {
			display: none;
		}

		background-color: $tr;
		border: 1px solid #d9d9d9;
		padding: 15px;

		.woocommerce-shipping-totals {
			flex-direction: row;
			padding-bottom: 5px;

			th {
				margin-right: 20px;
			}

			ul {
				margin: 0;
			}
		}

		.woocommerce-shipping-totals.shipping {
			.woocommerce-shipping-methods {
				li {
					&:first-of-type:last-of-type {
						label {
							display: block;
						}
					}
				}
			}

			.shipping_method {
				display: none;

				+ label {
					display: none;
				}

				&:checked {
					+ label {
						display: block;
					}
				}
			}
		}

		.woocommerce-checkout-review-order-table {
			table-layout: fixed;

			thead {
				display: none;
			}

			tbody {
				tr {
					&:last-of-type {
						td {
							padding-bottom: 20px;
						}
					}
				}

				.product-name {
					display: flex;
					padding-right: 10px;
					align-items: center;
				}

				.variation {
					order: 2;
					margin-right: 5px;
				}

				.product-quantity {
					order: 3;
				}

				.review-order-product-image {
					max-width: 50px;

					+.review-order-product-name {
						margin: 0 10px;
					}
				}

				.product-total {
					width: 100px;
				}

				.product-quantity,
				.product-total {
					white-space: normal;
				}
			}
		}

		.order-total {
			border: 0;

			th,
			td {
				padding-bottom: 5px;
			}
		}
	}

	// Step
	.multi-step-checkout {
		.woostify-container {
			text-align: center;
		}
	}

	.multi-step-inner {
		margin-top: 50px;
		position: relative;
		overflow: hidden;
		@extend .inline-flex;
	}

	.multi-step-item {
		margin: 0 10px;
		cursor: pointer;
		position: relative;

		@media (min-width: $screen-md) {
			margin: 0 30px;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			z-index: 2;
			height: 2px;
			top: 7px;
		}

		&:first-of-type {
			margin-left: 0;

			&:before {
				content: none;
			}

			&:after {
				left: 50%;
				right: -30px;
			}
		}

		&:not(:first-of-type):not(:last-of-type) {
			&:before {
				left: -30px;
				right: 50%;
			}

			&:after {
				left: 50%;
				right: -30px;
			}
		}

		&:last-of-type {
			margin-right: 0;

			&:before {
				right: 50%;
				left: -30px;
			}

			&:after {
				content: none;
			}
		}

		&.active {
			&:after {
				background-color: #ebebeb;
			}

			~.multi-step-item {
				color: #888;

				&:before {
					background-color: #ebebeb;
				}

				&:after {
					background-color: #ebebeb;
				}

				.item-text {
					font-weight: normal;

					&:before {
						background-color: #ddd;
					}
				}
			}
		}
	}

	.item-text {
		position: relative;
		z-index: 5;
		font-size: 1em;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		align-items: center;
		white-space: nowrap;

		&:before {
			content: '';
			border-radius: 50px;
			width: 14px;
			height: 14px;
			margin-bottom: 10px;
			white-space: nowrap;
			font-size: 0.9em;
			@extend .inline-flex;
		}
	}

	// Content
	.multi-step-checkout-wrapper {
		float: left;
		width: 100%;
		margin-bottom: 50px;

		&.has-local-pickup {
			.multi-step-review-information-row[data-type="address"] {
				display: none;
			}

			.multi-step-checkout-content[data-step="second"] {
				[data-type="email"] {
					border-bottom: 0;
				}
			}
		}

		&.no-shipping-available {
			.multi-step-checkout-content[data-step="last"] {
				[data-type="address"] {
					border-bottom: 0;
				}
			}

			.multi-step-review-information-row[data-type="shipping"] {
				display: none;
			}
		}

		@media (min-width: $screen-md) {
			width: calc(100% - 400px);
			padding-right: 40px;

			#customer_details {
				width: 100%;
				padding-right: 0;
				float: none;
			}
		}

		li {
			list-style: none;
		}

		&.first {
			[data-action="back"] {
				display: none;
			}

			~ #order_review {
				.woocommerce-shipping-totals {
					display: none;
				}
			}
		}

		&.last {
			[data-action="continue"] {
				display: none;
			}
		}

		&:not(.last) {
			#place_order {
				display: none !important;
			}
		}

		&:not(.first) {
			~ #order_review {
				.shipping-placeholder {
					display: none;
				}
			}
		}

		.multi-step-checkout-content {
			display: none;

			&.active {
				display: block;
			}

			.woocommerce-billing-fields {
				>h3 {
					display: none;
				}
			}

			.woocommerce-additional-fields__field-wrapper {
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			// Payment methods
			.wc_payment_methods {
				margin: 0;

				.wc_payment_method {
					margin-bottom: 0;
					border: 1px solid #d9d9d9;
					padding: 10px;

					img {
						max-width: 40px;
						margin-right: 5px;
					}

					&:first-of-type {
						border-radius: 4px 4px 0 0;
					}

					&:last-of-type {
						border-radius: 0 0 4px 4px;
					}

					+.wc_payment_method {
						border-top: 0;
					}
				}

				label {
					&[for^="payment_method"] {
						cursor: pointer;

						img {
							max-width: 100%;
							max-height: 40px;
							margin-left: 5px;
						}
					}
				}

				.payment_box {
					border-radius: 0;
					margin: 10px -10px -10px -10px;
					color: #515151;
					border-top: 1px solid #d9d9d9;

					&:before {
						content: none;
					}
				}
			}

			// Terms and conditions
			.woocommerce-terms-and-conditions-wrapper {
				border-radius: 5px;
				border: 1px solid #d9d9d9;
				margin-top: 30px;
				padding: 15px;

				.woocommerce-invalid-required-field {
					color: red;

					* {
						color: inherit;
					}
				}

				p {
					&:last-child {
						margin-bottom: 0;
					}
				}

				.form-row {
					float: none;
				}
			}

			// For terms and conditions.
			.woocommerce-terms-and-conditions-link {
				transition-duration: 0s;
			}

			.required-item {
				border-color: #f00;

				.woocommerce-terms-and-conditions-checkbox-text,
				.woocommerce-terms-and-conditions-link {
					color: #f00;
				}
			}
		}
	}

	// Validate
	.field-required {
		[name] {
			border-color: #f00 !important;
		}
	}

	// Modified shipping methods
	.shipping-methods-modified {
		.shipping-methods-modified-item {
			border: 1px solid #d9d9d9;
			display: flex;
			align-items: center;

			&:first-of-type {
				border-radius: 4px 4px 0 0;
			}

			&:last-of-type {
				border-radius: 0 0 4px 4px;
			}

			+.shipping-methods-modified-item {
				border-top: 0;
			}
		}

		.shipping-methods-modified-input {
			margin: 0 10px 0 0;
		}

		.shipping-methods-modified-label {
			font-weight: 600;
			padding: 6px 20px;
			cursor: pointer;
			flex-grow: 1;
		}
	}

	// Review information
	.multi-step-review-information {
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		padding: 0 15px;
	}

	.multi-step-review-information-row {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #d9d9d9;
		padding: 6px 0;

		@media (max-width: $screen-sm - 1) {
			flex-wrap: wrap;
		}

		&:last-of-type {
			border-bottom: 0;
		}
	}

	.review-information-inner {
		display: flex;
		flex-grow: 1;

		@media (max-width: $screen-md - 1) {
			flex-direction: column;
		}
	}

	.review-information-label {
		margin-right: 15px;
		font-weight: 700;

		@media (min-width: $screen-md) {
			flex: 0 1 5em;
		}
	}

	.review-information-link {
		white-space: nowrap;
		cursor: pointer;
		font-size: 0.9em;

		@media (max-width: $screen-sm - 1) {
			flex: 0 0 100%;
		}
	}

	// Button action wrapper
	.multi-step-checkout-button-wrapper {
		margin-top: 20px;
		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}

	.multi-step-checkout-button {
		cursor: pointer;

		&[data-action="back"] {
			display: flex;
			float: left;
			align-items: center;
			.woostify-svg-icon {
				margin-right: 5px;
				svg {
					width: 0.8em;
					height: 0.8em;
				}
			}

			@extend .duration;
		}

		&[data-action="continue"],
		&#place_order {
			float: right;
		}

		&#place_order {
			font-weight: normal;
			margin-top: 0;
			text-transform: none;
		}
	}

	// Before order review on mobile
	.expanded-order-review {
		#order_review {
			display: block;
		}

		.woostify-before-order-review-total-price {
			display: none;
		}

		.woostify-before-order-review-icon {
			@include rotate(-180);
		}
	}

	.woostify-before-order-review {
		@media (min-width: $screen-md) {
			display: none;
		}

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin-bottom: 20px;
		cursor: pointer;

		.woostify-before-order-review-total-price {
			flex-grow: 1;
			text-align: right;
			margin-right: 10px;
		}

		.woostify-before-order-review-icon {
			@extend .duration;
		}
	}
}

// Shipping placeholder text
.shipping-placeholder {
	padding: 5px 0;
}

// Distraction free
.has-distraction-free-checkout {
	.topbar {
		display: none;
	}

	.site-header {

		.wrap-toggle-sidebar-menu,
		.site-navigation,
		.site-tools {
			display: none;
		}

		.woostify-container {
			padding-top: 20px;
			padding-bottom: 20px;
			justify-content: center;
		}

		.site-branding {
			text-align: center;
		}
	}
	#colophon {
		display: none;
	}
}

// select 2
.select2-container {
	.select2-selection--single {
		height: 50px;
		margin: 0;
		border-radius: 0;
		border-color: #ccc;
	}
}

.select2-container--default {
	.select2-selection--single {
		.select2-selection__rendered {
			height: 50px;
			line-height: 50px;
			padding: 0 1em;
		}

		.select2-selection__arrow {
			right: 0;
			top: 50%;
			width: 20px;
			height: 50px;
			transform: translateY(-50%);
			@extend .flex;
		}
	}

	.select2-search--dropdown {
		.select2-search__field {
			border-color: #ddd;
		}
	}
}

.select2-dropdown {
	border-color: #ccc;
}

.checkout-layout-3:not(.woobuilder-active) {
	&.woocommerce-checkout {
		.woocommerce {
			position: static;
		}
	}
	&.has-distraction-free-checkout {
		.site-content {
			margin-top: 0;
			@media (max-width: $screen-md - 1) {
				margin: 0;
			}
		}

		.site-header {
			.site-header-inner {
				background-color: transparent;
				border: none;
			}
			.woostify-container {
				justify-content: flex-start;
				@media (max-width: $screen-md - 1) {
					justify-content: center;
				}
			}
			.site-branding {
				text-align: left;
				@media (max-width: $screen-md - 1) {
					text-align: center;
				}
			}
		}
	}

	.ajax-coupon-form {
		position: relative;
		> * {
			display: none;
		}
		&.loading{
			&:before{
				@include loading( $size: 14px, $center: false, $important: !important );
				position: static;
				display: block;
			}
		}

		&.ready {
			.woocommerce-form-coupon-toggle {
				display: flex;
			}
		}
	}

	form.checkout_coupon {
		.form-row {
			.input-text {
				padding: 0 1em;
			}
		}
	}

	.form-row {
		position: relative;

		label:not(.checkbox) {
			position: absolute;
			top: 50%;
			left: 12px;
			background: #fff;
			right: 30px;
			pointer-events: none;
			transform: translateY(-50%);
			transition: all .2s;
			line-height: 36px;
		}

		&:not(.no-label) {
			.input-text {
				width: 100%;
				height: 50px;
				padding: 20px 12px 2px;
				border-radius: 4px;
			}
		}
		.input-text {
			width: 100%;
			height: 50px;
			border-radius: 4px;
			&:focus {
				border-color: #000;
			}
		}

		&.woocommerce-invalid-required-field, &.woocommerce-invalid {
			.input-text, .select2-selection {
				border-color: #d50000;
			}
		}

		&.notes {
			label {
				top: 25px;
			}
			textarea {
				padding: 20px 12px 12px !important;

				@media (max-width: $screen-md - 1) {
					&::-webkit-input-placeholder {
						color:transparent;
					}

					&:-moz-placeholder { /* Firefox 18- */
					color:transparent;
					}

					&::-moz-placeholder {  /* Firefox 19+ */
					color:transparent;
					}

					&:-ms-input-placeholder {
					color:transparent;
					}
				}
			}
		}

		&.w-anim-wrap {
			label {
				top: 15px;
				font-size: 12px;
				line-height: 18px;
				padding: 0;
			}
		}

		&#billing_country_field, &#billing_state_field {
			label {
				font-size: 12px;
				line-height: 1;
				padding: 0;
				z-index: 9;
				height: 38px;
				top: 9px;
				transform: none;
				background: transparent;
			}
			.select2-selection {
				border-radius: 4px;
			}
			.select2-selection__rendered {
				padding: 23px 12px 2px;
				line-height: 1.5;
				min-height: 48px;
			}
		}
	}

	.woostify-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;

		.col-left {
			padding-left: 15px;
			padding-right: 15px;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			position: relative;

			@media (min-width: $screen-md) {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 60%;
				flex: 0 0 60%;
				max-width: 60%;
			}

			@media (max-width: $screen-md - 1) {
				padding-bottom: 15px;
			}
		}

		.woostify-col {
			padding-left: 15px;
			padding-right: 15px;
			max-width: 100%;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			@media (min-width: $screen-md) {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-webkit-box-flex: 1;
				-ms-flex-positive: 1;
				flex-grow: 1;
			}

			.col-right-inner {
				@media (max-width: $screen-md - 1) {
					position: static;
					transform: none;
					position: relative;
					padding-bottom: 3.5em;
					padding-top: 15px;
				}

				&:before {
					display: none;
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: -50%;
					width: 200vw;
					background-color: rgba(0,0,0,0.02);
					z-index: -1;
					@media (max-width: $screen-md - 1) {
						display: block;
					}
				}
			}
		}
	}

	.form-distr-free-bg {
		@media (min-width: $screen-md) {
			height: 200px;
			width: 500px;
			display: -moz-box;
			display: -webkit-flexbox;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: -moz-flex;
			display: flex;
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			position: fixed;
			top: 0;
			height: 100%;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: -1;
		}

		.col-left {
			@media (min-width: $screen-md) {
				max-width: 59.333333%;
				flex: 0 0 59.333333%;
			}
			@media (min-width: 1400px) {
				max-width: 58.66666667%;
				flex: 0 0 58.66666667%;
			}
			@media (min-width: 1490px) {
				max-width: 56.66666667%;
				flex: 0 0 56.66666667%;
			}
			@media (min-width: $screen-xlg) {
				flex: 0 0 55.66666667%;
			}
			@media (min-width: 2400px) {
				flex: 0 0 54.66666667%;
			}
			@media (min-width: $screen-xxlg) {
				flex: 0 0 53.66666667%;
			}
		}
		.woostify-col {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			&.right-bg {
				position: relative;
				-moz-box-flex: 1;
				-webkit-flex: 1;
				-moz-flex: 1;
				-ms-flex: 1;
				flex: 1;
				background-color: #f8f8f8;
				background-color: rgba(0,0,0,0.02);
				border-left: 1px solid #eee;
			}
		}
	}
	#customer_details {
		float: none;
		width: 100%;
	}
	#order_review {
		float: none;
		background: transparent;
		width: 100%;
		padding: 0;
		@media (min-width: $screen-md) {
			padding-left: 40px;
		}
		@media (max-width: $screen-md - 1) {
			margin-top: 0;
		}

		.shop_table {
			th {
				font-weight: inherit;
				text-transform: uppercase;
			}
			.cart_item {
				min-height: 60px;
				margin-bottom: 15px;
				.product-name {
					position: relative;
					padding-left: 75px;
					position: relative;
					font-weight: 500;
					padding-top: 0;
					padding-bottom: 0;

					.w-product-thumb {
						width: 60px;
						position: absolute;
						border-radius: 2px;
						left: 0;
						top: 50%;
						transform: translateY(-50%);

						img {
							max-width: 100%;
							border-radius: 2px;
							border: 1px solid rgba(0,0,0,0.1);
						}
					}
					strong.product-quantity {
						font-size: 11px;
						position: absolute;
						text-align: center;
						border-radius: 50%;
						background-color: #2e2e2e;
						color: #fff;
						-webkit-box-sizing: border-box;
						box-sizing: border-box;
						display: block;
						width: 22px;
						height: 22px;
						line-height: 22px;
						z-index: 10;
						top: -5px;
						right: -5px;
					}
					.variation {
						display: block;
						width: 100%;
						font-size: 13px;
					}
				}
			}
		}

		.woocommerce-checkout-review-order-table {
			tbody {
				tr {
					border: none;

					&.coupon-form {
						border-top: 1px solid #d9d9d9;

						td {
							width: 100%;
						}

						.woocommerce-form-coupon-toggle {
							justify-content: flex-start;
							margin: 0;
							max-width: unset;
						}
						.checkout_coupon.woocommerce-form-coupon {
							margin: 10px 0 0;
							padding: 0;
							max-width: unset;
							display: flex;

							.form-row {
								margin: 0;
								float: none;

								&.form-row-first {
									-ms-flex-preferred-size: 0;
									flex-basis: 0%;
									-ms-flex-positive: 1;
									-webkit-box-flex: 1;
									flex-grow: 1;
									max-width: 100%;
									margin-right: 10px;
								}

								&.form-row-last {
									-ms-flex: 0 0 auto;
									-webkit-box-flex: 0;
									flex: 0 0 auto;
									width: auto;
								}
							}
							[name="apply_coupon"] {
								margin: 0;
								padding: 0 20px;
								height: 50px;
								border-radius: 2px;
							}
							[name="coupon_code"] {
								border-radius: 2px;
							}
						}
					}

					td {
						margin-left: 0;
					}
				}
			}
			tfoot {
				tr {
					&:first-child {
						border-top: 1px solid #d9d9d9;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
			.woocommerce-shipping-methods {
				li {
					display: flex;
					justify-content: flex-start;
					&:not(:last-child) {
						margin-bottom: 5px;
					}
					input {
						margin: 4px 5px 0 0;
					}
					label {
						display: flex;
						justify-content: space-between;
						-moz-box-flex: 1;
						-webkit-flex: 1;
						-moz-flex: 1;
						-ms-flex: 1;
						flex: 1;
					}
				}
			}
			.checkout_coupon.woocommerce-form-coupon {
				border: none;
			}
		}
	}
	form.woocommerce-checkout {
		.woostify-col {
			position: relative;
			height: auto !important;
		}
	}
	.woocommerce-checkout-review-order-table {
		thead {
			display: none;
		}
	}
	.wc_payment_methods {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 10px;
		border: 1px solid #aaa;

		> li {
			padding: 14px 19px;
			list-style: none;
			border-bottom: 1px solid #ddd;
			margin: 0;

			&:last-child {
				border: none;
			}

			input {
				margin-left: 0;
			}

			.payment_box {
				padding: 20px 0 0;
				background: transparent;
				box-shadow: none;
				margin: 0;

				&:before, &:after {
					display: none;
				}
			}
		}
	}
	.checkout-options {
		.before-checkout {
			&.ready {
				@media (min-width: $screen-md) {
					opacity: 1;
				}
			}

			@media (min-width: $screen-md) {
				position: absolute;
				z-index: 9;
				left: 15px;
				right: 15px;
				opacity: 0;
				padding-right: 40px;
			}
		}
		.woocommerce-form-coupon-toggle, .woocommerce-form-login-toggle {
			max-width: unset;
			margin: 0 0 10px;
			display: block;
			padding: 10px;
			background: #f8f8f8;
			border-radius: 3px;
			text-align: center;
		}
		.checkout_coupon.woocommerce-form-coupon, .woocommerce-form.woocommerce-form-login {
			margin: 0 0 10px;
			max-width: unset;
		}
	}
	.woostify-woocommerce-NoticeGroup {
		margin-right: 40px;
		.woocommerce-message, .woocommerce-error, .woocommerce-info, .woocommerce-notice--success {
			margin: 25px auto 30px;
		}
	}
	[name="checkout"] {
		margin-top: 0;
	}
	.woocommerce-billing-fields > h3 {
		display: inline-block;
	}
	#checkout-spacer {
		display: none;
		@media (min-width: $screen-md) {
			display: block;
		}
	}
	#order_review_heading {
		font-size: 24px;
		font-weight: normal;
		margin-top: 0;
		@media (max-width: $screen-md - 1) {
			display: inline-block;
		}
	}
	.woocommerce-billing-fields {
		position: relative;
	}
	.back-to-cart {
		z-index: 7;
		position: absolute;
		right: 0;
		top: 1.6em;

		a {
			display: flex;
			align-items: center;
			padding: 5px 0;
			.woostify-svg-icon {
				margin-top: -2px;
				margin-right: 4px;
				svg {
					width: 10px;
					height: 10px;
				}
			}
			span {
				line-height: 1;
			}
		}
	}
}

// Order pay
@media (min-width: $screen-md) {
	.woocommerce-order-pay {
		#order_review {
			width: 100%;
			margin: 0 auto;
		}
	}
}

// responsive
@media (max-width: $screen-md - 1) {
	#order_review {
		clear: both;
		margin-top: 30px;

		.has-multi-step-checkout & {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 600px) {
	.woocommerce-billing-fields {

		.form-row-first,
		.form-row-last {
			float: left;
			width: 100%;
		}
	}

	#order_review {
		padding: 15px 15px 30px 15px;
	}
}

@media ( max-width: 991px ) {
	.woostify-before-order-review-total-price {
		.includes_tax {
			display: none;
		}
	}
}

@media ( min-width: 992px ) {
	.yith-wcms-pro {
		#order_review {
			width: 100%;
		}
	}
}
