// Hidden product meta
.hid {
	&-skus {
		.product_meta {
			.sku_wrapper {
				display: none;
			}
		}
	}

	&-categories {
		.product_meta {
			.posted_in {
				display: none;
			}
		}
	}

	&-tags {
		.product_meta {
			.tagged_as {
				display: none;
			}
		}
	}
}

// Constainer
.site-full-width-container {
	.woocommerce-tabs {
		.woocommerce-Tabs-panel {
			max-width: 100%;
		}
	}
}

.product-page-container {
	padding-bottom: 90px;
}

.single-product {
	// Site container
	&.site-normal-container {
		// No sidebar
		&.no-sidebar {
			.site-content {
				> .woostify-container {
					@media (min-width: $screen-md) {
						max-width: 100%;
					}
				}
			}
		}
	}

	.site-content {
		> .woostify-container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	// Sidebar
	&:not(.site-full-width-stretched-container) {
		&.left-sidebar,
		&.right-sidebar {
			.site-content {
				> .woostify-container {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}

	// Content top
	.content-top {
		padding: 35px 0 15px 0;
		position: relative;
		z-index: 1;

		.woostify-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			&:after {
				content: none;
			}
		}

		.woocommerce {
			flex: 0 0 100%;
		}
	}

	.star-rating {
		vertical-align: text-top;
		margin-right: 17px;
	}

	.summary {
		.yith-wcwl-add-to-wishlist {
			display: block;
			margin: 20px 0;
		}
	}

	@media (max-width: $screen-md - 1) {
		.wc-breadcrumb {
			text-align: center;
			padding-bottom: 0;
		}
	}
}

// GALLERY
.product-gallery {
	position: relative;
	float: left;
	max-width: 100%;

	@media (min-width: $screen-md) {
		width: calc((100% - 30px) / 2);
	}

	@media (max-width: $screen-md - 1) {
		display: block;
		float: none;
		width: 100%;
	}

	&.wc-default-gallery {
		.onsale {
			z-index: 1;
		}

		.woocommerce-product-gallery__wrapper {
			max-width: unset;
			margin: 0;
		}

		.woocommerce-product-gallery__trigger {
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: 2;
			width: 20px;
			height: 20px;
			img {
				width: 100% !important;
				height: 100% !important;
			}
		}

		.flex-control-thumbs {
			list-style: none;
			padding: 0;
			li {
				display: inline-block;
				margin: 0 1.5em 1.5em 0;
				img {
					border: 1px solid transparent;

					&.flex-active {
						border-color: #555;
					}
				}
			}
		}
	}

	// Vertical slider layout
	&.vertical-style.has-product-thumbnails {
		.thumb-btn {
			display: none;
		}
		@media (min-width: $screen-sm) {
			position: relative;
			display: flex;

			.product-images {
				order: 2;
				flex: 0 1 100%;
			}

			.product-thumbnail-images {
				position: relative;
				width: 50px;
				min-width: 50px;
				margin-right: 20px;
				height: 100%;
			}

			.thumb-btn {
				display: block;
				border-radius: 50%;
				background: #fff;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				padding: 5px;
				border: none;

				.woostify-svg-icon svg {
					display: block;
				}

				&.next {
					bottom: 0;
				}
				&.prev {
					top: 0;
				}
			}

			#product-thumbnail-images {
				overflow: hidden;

				.thumbnail-item {
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&.has-buttons {
					.thumbnail-item {
						&:first-child {
							margin-top: 35px;
						}
						&:last-child {
							margin-bottom: 35px;
						}
					}
				}
			}
		}
	}

	.onsale {
		z-index: 0;
	}

	// Grid layout
	&.grid-style {
		&.has-product-thumbnails {
			@media (min-width: $screen-md) {
				.image-item {
					width: calc( ( 100% - 30px ) / 2 );
					float: left;
					margin-bottom: 30px;

					&:nth-of-type(even) {
						margin-left: 30px;
					}
				}
			}
		}
	}

	// One column layout
	&.column-style {
		&.has-product-thumbnails {
			@media (min-width: $screen-md) {
				.image-item {
					clear: both;
					float: left;
					margin-bottom: 30px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.flickity-viewport {
		transition: height .3s;
	}
}

.product-thumbnail-images {
	&.has-single-thumbnail-image {
		display: none;
	}
}

.has-gallery-layout-vertical {
	.product-thumbnail-images {
	}
}

// PRODUCT IMAGES
.product-images {
	overflow: hidden;
	position: relative;

	.image-item {
		margin: 0;
		cursor: pointer;
		width: 100%;

		a {
			display: block;
		}
	}
}

.has-product-thumbnails.horizontal-style {
	.product-images {
		margin-bottom: 20px;
	}
}

.product-thumbnail-images {
	.thumbnail-item {
		cursor: pointer;
		position: relative;
		max-width: 70px;
		width: 100%;
		margin-right: 10px;

		@media (max-width: $screen-md - 1) {
			padding: 1px;
		}

		&.is-selected.is-nav-selected {
			img {
				border: 1px solid #555;
			}
		}
	}

	img {
		border: 1px solid $tr;
	}
}

.has-gallery-list-layout {
	.has-product-thumbnails {
		@media (max-width: $screen-md) {
			#product-images {
			}
		}
	}
}

// Image loading
.image-loading {
	position: relative;

	@extend .circle-loading;
}

// PRODUCT SUMMARY
.product-summary {
	float: left;
	max-width: 100%;

	@media (min-width: $screen-md) {
		width: calc((100% - 30px) / 2);
		margin-left: 30px;
	}

	.price {
		font-size: 24px;
		margin-bottom: 18px;
	}
}

.product-group-btns {
	position: absolute;
	z-index: 100;
	right: 15px;
	bottom: 15px;
	display: flex;

	> * {
		margin-left: 5px;
	}

	// Video lightbox
	.woostify-lightbox-button, .photoswipe-toggle-button {
		width: 40px;
		height: 40px;
		color: #aaa;
		border: 1px solid #ccc;
		border-radius: 5px;
		position: relative;
		background: #fff;
	}
	.photoswipe-toggle-button {
		.woostify-svg-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		svg {
			display: block;
			width: 16px;
			height: 16px;
		}
	}
	.woostify-lightbox-button {
		font-size: 20px;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.woocommerce-product-rating {
	margin-bottom: 15px;
}

.woocommerce-product-details__short-description {
	border-left: 0;
	border-right: 0;
	padding: 35px 0;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	+.cart {
		margin-top: 20px;
	}
}

// Group product
.woocommerce-grouped-product-list {
	border: 0;
	margin-top: 0;

	td {
		border-left: 0;
		border-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	ins {
		background-color: $tr;
	}
}

// Table variations
.variations {
	border: 0;
	margin-top: 0;
	margin-bottom: 20px;

	tr {
		display: block;
		margin-bottom: 10px;
	}

	td {
		border: 0;
		padding: 2px 0;
		vertical-align: top;

		@media (max-width: $screen-sm - 1) {
			display: block;
			clear: both;

			@at-root .variations tr+tr {
				margin-top: 15px;
				display: block;
			}
		}
	}

	select {
		display: block;
		clear: both;
		height: 36px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #fff;
		position: static !important;
	}

	label {
		text-transform: uppercase;
	}

	.label {
		vertical-align: middle;
		display: block;
	}

	.value {
		display: block;
		padding-left: 0;

		&:before {
			content: none $i
		}

		@media (min-width: $screen-tablet) {
			display: flex;
			align-items: center;
		}

		@media (max-width: $screen-tablet - 1) {
			flex-wrap: wrap;
		}
	}

	.woostify-variation-swatches {
		padding-left: 0;
		padding-right: 0;
	}

	.tawcvs-swatches,
	.woostify-variation-swatches {
		.swatch {
			&.selected {
				box-shadow: none;
			}
		}
	}

	.tawcvs-swatches {
		.swatch {
			border: 1px solid #ddd;
			opacity: 1;
			border-radius: 20px;
		}
	}

	.reset_variations {
		white-space: nowrap;
		border: 1px solid #e8e8e8;
		background-color: #fff;
		border-radius: 5px;
		padding: 2px 10px;
		margin-top: 10px;
		float: left;
		transition-duration: 0s;

		@media (min-width: $screen-tablet) {
			margin-left: 10px;
			margin-top: 0;
			margin-bottom: 10px;
			float: none;
		}

		&:before {
			content: "\e619";
			font-family: $icon;
			margin-right: 7px;
			font-size: 12px;
		}
	}

	@media (max-width: $screen-tablet - 1) {
		.label {
			width: 100%;
		}

		.value {
			max-width: 100%;
			flex-direction: column;
		}

		select {
			min-width: 100%;
		}
	}
}

.single_variation {
	margin-bottom: 40px;

	&:empty {
		display: none;
	}
}

.shop_table {
	.variation {
		margin: 0;

		dt,
		dd {
			display: inline-block;
			font-weight: normal;
		}

		dd {
			margin-bottom: 0;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.product_title {
	font-size: 24px;
	margin-top: 0;
	font-weight: 500;
	margin-bottom: 10px;

	&.bundled_product_title {
		font-size: 1em;
	}
}

// Stock
.woostify-single-product-stock {
	margin-bottom: 35px;

	.woostify-single-product-stock-label {
		margin-bottom: 10px;
		display: block;
	}

	.woostify-product-stock-progress {
		background-color: #efefef;
	}

	.woostify-single-product-stock-progress-bar {
		height: 10px;
		display: block;
		width: 0;
		transition-duration: 0.3s;
	}
}

.cart:not(.elementor-menu-cart__products) {
	flex-wrap: wrap $i;

	.quantity {
		margin-right: 8px;
		border: 1px solid #e8e8e8;

		@media (max-width: 600px) {
			width: 90px;
			min-width: 90px;
		}
	}

	.woocommerce-variation-add-to-cart {
		flex-wrap: wrap $i;

		.tinvwl-after-add-to-cart {
			width: 100%;
		}
	}
}

.woocommerce-variation-price {
	margin-bottom: 10px;
}

.quantity {
	width: 170px;
	height: 50px;
	position: relative;
	overflow: hidden;
	background: #fff;
	@extend .inline-flex;

	.qty {
		text-align: center;
		border: 0;
		font-size: 16px;
		background-color: $tr;
		flex-grow: 1;
		padding: 0 40px;
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		@media (max-width: 600px) {
			padding: 0 30px;
		}
	}

	// Support plugin
	select.qty {
		padding: 0;
		margin: 0 20px;

		~ .product-qty {
			display: none;
		}
	}

	.product-qty {
		position: absolute;
		font-family: $icon;
		cursor: pointer;
		width: 40px;
		top: 0;
		bottom: 0;
		@extend .flex;

		&:active,
		&:hover {
			color: #000;
		}

		@media (max-width: 600px) {
			width: 30px;
		}
	}

	[data-qty="minus"] {
		left: 0;

		&:before {
			content: "\e622"
		}
	}

	[data-qty="plus"] {
		right: 0;

		&:before {
			content: "\e61a"
		}
	}
}

.woocommerce-variation-add-to-cart {
	display: flex;
}

.single_add_to_cart_button {
	position: relative;
	@extend .inline-flex;

	@media (max-width: 600px) {
		flex-grow: 1;
	}

	&.button {
		min-width: 200px;
		height: 50px;
		font-weight: 600;
		text-transform: uppercase;
		vertical-align: top;
		padding-top: 0;
		padding-bottom: 0;
		pointer-events: auto;

		@media (max-width: 600px) {
			min-width: auto;
		}
	}
}

.product_meta {
	margin-top: 20px;

	.elementor-element.elementor-woo-meta--view-inline & {
		display: block;
	}

	>span {
		display: block;
	}
}

// TABS
.woocommerce-tabs {
	display: block;
	clear: both;
	padding-top: 54px;
	padding-bottom: 50px;

	.tabs {
		margin: 0;
		padding-left: 0;
		text-align: center;

		li {
			list-style: none;
			display: inline-flex;
			margin: 0 30px;

			@media (max-width: $screen-tablet - 1) {
				margin: 5px 0;
				width: 100%;

				a {
					display: block;
					padding: 5px 15px;
					border: 1px solid #efefef;
				}
			}
		}

		a {
			font-size: 18px;
		}
	}

	.woocommerce-Tabs-panel {
		padding: 23px 0;
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;
		display: none;

		>h2 {
			&:first-child {
				display: none;
			}
		}

		table {
			margin: 0;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// comment reviews.
	#reply-title {
		display: none;
	}

	#comments {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}

	.woocommerce-Reviews-title {
		display: none;
	}

	.woocommerce-verification-required {
		font-weight: 700;
		margin-top: 40px;
	}

	.commentlist {
		padding-left: 0;
		margin: 0;

		li {
			list-style: none;

			+li {
				margin-top: 30px;
			}
		}

		.children {
			margin-top: 30px;
		}
	}

	.comment {
		margin-bottom: 40px;
	}

	.comment_container {
		display: flex;
		justify-content: flex-start;

		.avatar {
			border-radius: 50%;
			margin-right: 30px;
			min-width: 60px;
			width: 60px;
			height: 60px;
		}

		.comment-text {
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;

			.description {
				flex: 0 0 100%;
				margin-top: 15px;
			}
		}

		.meta {
			margin-bottom: 0;
			display: inline-block;
			vertical-align: text-top;
		}
	}

	.comment-notes {
		width: 100%;
	}

	.comment-form {
		>p {
			width: 100%;
			margin-bottom: 0;
		}

		input {
			&:not([type="submit"]) {
				width: 100%;
			}
		}

		textarea {
			width: 100%;
		}
	}
}

// RELATED && UPSELL

.related,
.up-sells {
	border-top: 1px solid #efefef;

	>h2 {
		text-align: center;
		font-size: 18px;
		font-weight: normal;
		padding: 25px 0;
	}
}

// Support for Woostify - Product Images
.woostify-product-images-widget {
	.product-gallery {
		width: 100%;
	}
}

// RECENTLY VIEWED
.woostify-product-recently-viewed-section {

	.woostify-product-recently-viewed-inner {
		border-top: 1px solid #efefef;
	}

	.woostify-product-recently-viewed-title {
		text-align: center;
		font-size: 18px;
		font-weight: normal;
		padding: 25px 0;
	}
}

// Product bundle
.bundled_item_cart_content {
	.price {
		font-size: 1em;
	}
}

// RESPONSIVE
@media (max-width: $screen-md - 1) {
	.product-summary {
		margin-top: 50px;
		width: 100%;
	}

	.single-product {
		.woostify-breadcrumb {
			display: none;
		}
		.elementor-widget-woostify-breadcrumb {
			.woostify-breadcrumb {
				display: block;
			}
		}
	}
}

@media (max-width: $screen-sm - 1) {

	.has-product-thumbnails {
		.product-thumbnail-images {
			margin-top: 20px;
		}
	}
}

// BUTTON PAYPAL
.paypal-button {
	z-index: 0;
}

// Addon Vendor
#product-addons-total {
	clear: both;
}
