.products{
	.product{
		&:hover{
			.animated-meta{
				@include translatey( -32px );
			}
		}
	}
}


.product-loop-image-wrapper{
	position: relative;
	&:hover{
		.product-loop-hover-image{
			opacity: 1;
		}
	}
	.woocommerce-loop-product__link{
		display: block;
	}
}

.product-loop-hover-image{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	opacity: 0;
	@include transition( all .3s ease-in-out );
}

.product-loop-meta{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	.price{
		display: block;
	}
	a{
		position: relative;
		@extend .flex;
		&:before{
			font-family: $icon;
			font-weight: normal;
			margin-right: 5px;
		}
	}
	.button{
		&:before{
			content: "\e60d"
		}
		&.product_type_external{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: block;
		}
	}
	.loading{
		&:before{
			@include loading( $size: 14px, $center: false, $important: !important );
			position: static;
		}
	}
	.added{
		display: none;
	}
	.added_to_cart{
		&:before{
			content: "\e60e"
		}
	}
}

.animated-meta{
	@include transition( all .2s ease-in-out );
	&:focus-within{
		@include translatey( -32px );
	}
}