.product-loop-image-wrapper{
	position: relative;
	overflow: hidden;

	.woocommerce-loop-product__link{
		display: block;
	}

	// Zoom effect.
	&.zoom-hover {
		img {
			@extend .duration;
		}
		&:hover {
			img {
				@include scale( 1.1 );
			}
		}
	}

	// Swap effect.
	.product-loop-hover-image{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: center;
		opacity: 0;
		@include transition( all .3s ease-in-out );
	}

	// Origin image.
	.product-loop-image {
		@include transition( all .3s ease-in-out );
	}

	&:hover{
		.product-loop-hover-image {
			opacity: 1;

			&+.product-loop-image {
				opacity: 0;
			}
		}
	}

	/* Add to cart ( On image ) */
	.loop-add-to-cart-on-image,
	.added_to_cart {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 50%;
		bottom: 48%;
		line-height: 1.8em;
		transform: translateX( -50% );
		white-space: nowrap;
		&:before {
			margin-right: 7px;
		}
	}

	.loop-add-to-cart-on-image{
		text-align: center;
		&.added {
			display: none;
		}
	}

	.added_to_cart {
		&:before {
			font-size: 14px;
			font-family: $icon;
			content: "\e60e";
			margin-right: 7px;
		}
	}
}

.has-equal-image-height {
	img {
		position: absolute;
		height: 100% !important;
		width: 100%;
		object-fit: cover;
	}
}

.product-loop-meta{
	.price{
		display: block;
	}

	a{
		position: relative;
		@extend .flex;

		&:before{
			font-weight: normal;
			margin-right: 5px;
		}

		&.added_to_cart {
			&:before{
				font-family: $icon;
			}
		}
	}

	.button{

		&.product_type_external{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			display: block !important;
		}
	}

	.loading{
		&:before{
			@include loading( $size: 14px, $center: false, $important: !important );
			position: static;
		}
	}

	.added{
		display: none;
	}

	.added_to_cart{
		&:before{
			content: "\e60e"
		}
	}
}

.no-transform{
	.animated-meta{
		display: inline-flex;
		flex-direction: column;
		max-width: 100%;
	}
}

.product-loop-meta{
	&.no-transform{
		.button,
		.added_to_cart{
			display: inline-flex;
			padding: 10px 15px;
			margin-top: 10px;
			height: 36px;
		}
	}
	&:not(.no-transform) {
		.button{
			padding: 0;
			background-color: $tr;
		}
	}
}

.product-loop-content {
	padding: 25px 15px;
}

#secondary{
	.select2-selection--multiple{
		min-height: auto;
		.select2-selection__rendered{
			padding: 0 5px 5px;
			display: block;
		}
		.select2-search{
			margin: 0;
			line-height: 1;
			margin-top: 5px;
		}
		.select2-search__field{
			line-height: 36px;
			padding: 0;
		}
	}
	.select2-selection--single{
		height: 46px;
		.select2-selection__rendered{
			line-height: 46px;
			height: 45px;
		}
		.select2-selection__placeholder{
			line-height: 46px;
		}
		.select2-selection__arrow{
			top: 50%;
			@include translatey( -50% );
		}
	}
}


/* responsive */
@media ( min-width: $screen-md ) {
	.products{
		.product{
			&:hover{
				.product-loop-meta{
					&:not(.no-transform) {
						.animated-meta{
							@include translatey( -24px );
						}
					}
				}
			}
		}
	}

	.product-loop-meta{
		&:not(.no-transform) {
			height: 30px;
			line-height: 30px;
			overflow: hidden;

			.animated-meta{
				@include transition( all .2s ease-in-out );

				&:focus-within{
					@include translatey( -24px );
				}
			}
		}
	}
}
