// YITH
.cart.wishlist_table {
	@extend .woocommerce-cart-form__contents;

	.product-name {
		padding: 0 20px !important;
	}

	@media (max-width: 768px) {
		.product-thumbnail {
			display: none;
		}

		.product-remove {
			a {
				background-color: #e33;
				color: #fff;
			}
		}

		th {
			display: none;
		}

		tr {
			&:first-of-type {
				td {
					border-bottom-width: 1px;

					&:last-of-type {
						border-bottom: 0;
					}
				}
			}

			&:last-of-type {
				td {
					border-bottom: 0;
				}
			}
		}

		td {
			display: block;
			width: 100% $i;
			border-right: 0;
			padding: 10px 0px $i;

			&:before {
				float: left;
				font-weight: bold;
				content: attr(data-title)
			}
		}
	}
}

.yith-wcwl-form {
	.button {
		cursor: pointer;
	}
}

.hidden-title-form {
	display: none;

	.button {
		padding: 10px 15px;
	}

	input {
		padding: 5px 10px;
		border-radius: 3px;
	}
}

.wishlist-title * {
	font-size: 24px;
}

.yith-wcwl-share {
	.yith-wcwl-share-title {
		font-size: small;
		display: inline-block;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
		}

		a {
			width: 30px;
			height: 30px;
			border: 1px solid #ddd;
			@extend .flex;
		}
	}
}

// TI
.tinvwl-table-manage-list {
	.product-action {
		.button {
			white-space: nowrap;
		}
	}
}
