// Variables
$size: 40px;

// Hide added_to_cart button
.hide-added-to-cart {
	.product-loop-meta {
		.animated-meta {
			.added {
				display: inline-flex;
			}
		}
	}

	.added_to_cart {
		display: none !important;
	}
}

// Out of stock label
.woostify-out-of-stock-label {
	position: absolute;
	top: 10px;
	z-index: 2;
	background-color: #818486;
	color: #fff;
	padding: 5px;
	line-height: 1;
	font-size: 12px;
	pointer-events: none;
	text-align: center;
	@extend .flex;

	&.position-left {
		left: 10px;
	}

	&.position-right {
		right: 10px;
	}

	&.position-none {
		display: none;
	}
}
.single-product {
	.product_title.entry-title {
		a {
			pointer-events: none;
		}
	}
	#woostify-quick-view-panel {
		.product_title.entry-title {
			a {
				pointer-events: auto;
			}
		}
	}
}

// Updating...
.processing:not(.um-woo-status) {
	pointer-events: none;
	position: relative;
	@extend .circle-loading;

	&:after {
		content: '';
		background-color: rgba(255, 255, 255, 0.7);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
}

// woocommerce header title
.woocommerce-products-header__title {
	font-size: 1.7em;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	font-weight: normal;
}

.woocommerce-loop-category__title {
	font-size: 18px;
	text-align: center;
}

// woocommerce sidebar mobile
.sidebar-mobile-open {
	overflow: hidden;

	#woostify-overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;

		&:after {
			content: "\e646";
			font-family: $icon;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			color: #fff;
			font-weight: 700;
			font-size: 1.5em;
		}
	}
}

.sidebar-mobile-open {
	.logged-in.admin-bar {
		#woostify-overlay {
			&:after {
				top: 66px;
			}

			@media (min-width: 783px) {
				&:after {
					top: 52px;
				}
			}
		}
	}
}

.has-sidebar {
	&.offcanvas-sidebar {
		#toggle-sidebar-mobile-button {
			display: flex;
			align-items: center;
		}

		.shop-widget {
			margin-top: 0 $i;
			position: fixed;
			left: 0;
			bottom: 0;
			top: 0;
			width: 100%;
			background-color: #fff;
			padding: 15px;
			max-width: 280px;
			z-index: 200;
			overflow-y: auto;
			opacity: 0;
			visibility: hidden;
			@include translatex(-100%);
			@include duration(0.2s);

			&.active {
				opacity: 1;
				visibility: visible;
				@include translatex(0);
			}
		}
		&.logged-in.admin-bar {
			.shop-widget {
				top: 46px;

				@media (min-width: 783px) {
					top: 32px;
				}
			}
		}
	}
	&:not(.offcanvas-sidebar) {
		#toggle-sidebar-mobile-button.show {
			@media (min-width: $screen-md) {
				display: none;
			}
		}
	}
}

@media (max-width: $screen-md - 1) {
	.shop-widget {
		margin-top: 0 $i;
		position: fixed;
		left: 0;
		bottom: 0;
		top: 0;
		width: 100%;
		background-color: #fff;
		padding: 15px;
		max-width: 280px;
		z-index: 200;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		@include translatex(-100%);
		@include duration(0.2s);

		.logged-in.admin-bar & {
			top: 46px;

			@media (min-width: 783px) {
				top: 32px;
			}
		}

		&.active {
			opacity: 1;
			visibility: visible;
			@include translatex(0);
		}
	}
}

#toggle-sidebar-mobile-button {
	background-color: $tr;
	padding: 11px 15px;
	border-radius: 2px;
	display: none;
	@extend .duration;

	&.show {
		display: flex;
		align-items: center;
	}

	.woostify-svg-icon {
		margin-right: 7px;
	}

	.no-sidebar &,
	.has-elementor-location-shop-archive & {
		display: none;
	}

	&.active {
		@include translatex(-20px);
		opacity: 0;
		visibility: hidden;
	}

	&:before {
		margin-right: 7px;
	}

	@media (min-width: $screen-md) {
		display: none;
	}

	@media (max-width: $screen-sm - 1) {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 40px;
		}
	}
}

// sorting
.woocommerce-notices-wrapper {
	display: block;
	clear: both;

	.woocommerce-message {
		margin-top: 30px;
	}
}

.woostify-sorting {
	@include flex(flex, space-between, center);
	flex-wrap: wrap;

	@media (max-width: 480px) {
		justify-content: center;
		flex-direction: column;
	}

	.woocommerce-notices-wrapper {
		flex: 0 0 100%;
		margin-bottom: 20px;

		&:empty {
			display: none;
		}
	}

	.woocommerce-ordering {
		order: 2;
		position: relative;
		border: 1px solid #ddd;
		border-radius: 2px;
		margin-bottom: 40px;

		&:after {
			content: "\e64b";
			position: absolute;
			right: 5px;
			font-family: $icon;
			pointer-events: none;
			font-size: 10px;
			top: 50%;
			@include translatey(-50%);
		}
	}

	.orderby {
		padding: 5px 20px 5px 10px;
		border: 0;
		background-color: $tr;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	.woostify-toolbar-left {
		margin-bottom: 40px;
		display: flex;
		align-items: center;

		@media (max-width: 480px) {
			margin-bottom: 15px;
		}

		#toggle-sidebar-mobile-button {
			margin: 0 10px 0 0;

			@media (max-width: 480px) {
				margin: 0;
			}
		}
	}

	.woocommerce-result-count {
		margin-bottom: 0;

		@media (max-width: $screen-sm - 1) {
			display: none;
		}
	}
}

// product loop category
.woocommerce-loop-product__category {
	line-height: 1.5em;
}

// product loop title
.woocommerce-loop-product__title {
	font-weight: normal;
	margin: 5px 0;
}

// pagination
.woocommerce-pagination {
	text-align: center;
	@extend .pagination;
}

// price
.price,
.product_list_widget {

	mark,
	ins {
		background-color: $tr;
	}

	del {
		+ins {
			margin-left: 3px;
		}
	}
}

// flas sale
.onsale {
	position: absolute;
	top: 10px;
	pointer-events: none;
	padding: 5px;
	font-size: 12px;
	z-index: 2;
	line-height: 1;
	direction: ltr;
	@extend .flex;

	.elementor-element & {
		padding: 5px !important;
	}

	&.sale-left {
		left: 10px;
	}

	&.sale-right {
		right: 10px;
	}
}

// message
.woostify-container {
	.woocommerce {
		ul {
			list-style: none;
		}
	}
}

.woocommerce-message {
	padding: 15px;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	a {
		order: 2;
		color: #fff;
		line-height: 1;
		border: 1px solid #fff;
		padding: 10px;
		border-radius: 4px;

		&:hover {
			color: #fff;
		}

		&:before {
			content: "\e71b";
			font-family: $icon;
			margin-right: 10px;
		}
	}
}
.woocommerce-info,
.woocommerce-error {
	position: relative;
	padding: 1em 2em 1em 3.5em;
	color: #fff;
	margin-bottom: 20px;

	a {
		&:hover {
			color: #fff;
		}
	}
}
.woocommerce-message {
	position: relative;
	padding: 1em 2em 1em 3.5em;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	a {
		margin-left: auto;
	}

	&:before {
    	color: #fff;
    	font-family: $icon;
	    display: inline-flex;
	    margin-right: 10px;
	}
}

.woocommerce-error {
	&:before {
		content: "\e720";
	}
}


.woocommerce-info {
	&:before {
		content: "\e71f";
	}
	input[type="submit"] {
		padding: 0 5px;
		margin-left: 5px;
	}
}

.woocommerce-message {
	&:before {
		content: "\e64d";
	}
}

.woocommerce-form-coupon-toggle,
.woocommerce-form-login-toggle {
	.woocommerce-info {
		&:before {
			display: none;
		}
	}
}

.woocommerce-message {
	clear: both;

	@media (max-width: 600px) {
		flex-direction: column;
		align-items: flex-start;

		a {
			margin-top: 15px;
		}
	}
}

.woocommerce-error {
	background-color: firebrick;
	flex-direction: column;
	align-items: flex-start;

	li {
		width: 100%;

		a {
			float: right;
			color: #ffffff;
			text-decoration: underline;
		}

		@media (max-width: 600px) {
			display: flex;
			flex-wrap: wrap;

			a {
				float: none;
				flex: 0 0 100%;
				margin-top: 15px;
			}
		}
	}
}

// checkout toggle login form, toggle coupon
.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
	.woocommerce-info {
		margin-bottom: 0;
		background-color: $tr;
		display: block;
		padding: 0;

		a {
			color: #f00;
			padding: 0;

			&:before {
				content: none
			}
		}
	}
}

// table
.shop_table {
	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}
}

.shop_attributes {
	width: 100%;

	th {
		white-space: nowrap;
	}
}

.shop_table_responsive {
	@media (max-width: $screen-sm - 1) {
		th {
			display: none;
		}

		tr {
			&:last-of-type {
				td {
					border-bottom: 0;
				}
			}
		}

		td {
			display: block;
			border-right: 0;

			&:not(.product-remove) {
				text-align: right $i;
			}

			&:before {
				float: left;
				font-weight: bold;
				content: attr(data-title)
			}
		}

		#shipping_method {
			margin-top: 0;
		}
	}
}

// store notice
.woocommerce-store-notice {
	margin-bottom: 0;
	padding: 10px 15px;
	color: #fff;
	flex-grow: 1;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 501; // higher Sticky Button on Mobile feature.

	&:before {
		content: "\e717";
		font-family: $icon;
		margin-right: 7px;
	}

	a {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding: 0 20px;
		min-width: 120px;
		color: #fff;
		background-color: rgba(255, 255, 255, 0.1);
		@extend .flex;

		&:before {
			content: "\e646";
			font-family: $icon;
			margin-right: 10px;
			@extend .duration;
		}

		&:hover {
			color: #fff;

			&:before {
				@include rotate(90);
			}
		}

		@media (max-width: $screen-md - 1) {
			position: static;
			background-color: $tr;
			padding: 0;
			display: inline;
			text-decoration: underline;
			margin-left: 7px;

			&:before {
				content: none;
			}
		}
	}
}

// cart empty || errors
.button.wc-backward {
	margin-top: 20px;
	display: inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

// Product Image
.product-loop-image-wrapper {
	.clear {
		display: none;
	}

	.loading {
		position: relative;

		&:before {
			@include loading($size: 14px, $center: true, $important: !important);
		}
	}

	.yith-wcwl-add-to-wishlist {

		.feedback,
		img {
			display: none;
		}

		a {
			font-size: 0;
			position: relative;

			&:before {
				font-size: 14px;
				font-family: $icon;
			}
		}

		.yith-wcwl-wishlistaddedbrowse.show,
		.yith-wcwl-wishlistexistsbrowse {
			a {
				color: #f00;
			}
		}

		.yith-wcwl-add-button {
			a {
				&:before {
					content: "\e634"
				}
			}
		}

		.yith-wcwl-wishlistaddedbrowse {
			a {
				&:before {
					content: "\e64c"
				}
			}
		}

		.yith-wcwl-wishlistexistsbrowse {
			a {
				&:before {
					content: "\e634";
				}
			}
		}
	}
}

// Quickview btn
.quick-view-with-icon {
	height: $size;
	width: $size;
	background-color: #fff;
	@extend .flex;

	+.yith-wcwl-add-to-wishlist {
		border-top: 1px solid #e7e7e7;
	}
}

// Product loop action
.product-loop-action {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	@extend .duration;

	@media (min-width: $screen-md) {
		opacity: 0;
		@include translatey(-100%);
	}

	// Add to wishlist btn
	.yith-wcwl-add-to-wishlist {
		a {
			width: $size;
			height: $size;
			@extend .flex;
		}
	}

	.button {
		padding: 0;
		border-radius: 0;
	}

	// Icon wishlist
	.yith-wcwl-add-to-wishlist {
		margin-top: 0;
		background-color: #fff;
		@extend .duration;

		&:hover {
			a {
				color: #fff;
			}
		}
	}

	// Icon add to cart
	.loop-add-to-cart-icon-btn,
	.added_to_cart {
		width: 40px;
		height: 40px;
		font-size: 0;
		background-color: #fff;
		@extend .flex;

		&:before {
			font-size: 14px;
			font-family: $icon;
		}

		&:hover {
			color: #fff;
		}
	}

	.loop-add-to-cart-icon-btn+.added_to_cart {
		&:before {
			margin-right: 0;
		}
	}

	.loop-add-to-cart-icon-btn {
		&.added {
			display: none;
			color: #fff;
		}

		+.quick-view-with-icon,
		+.yith-wcwl-add-to-wishlist {
			border-top: 1px solid #e7e7e7;
		}
	}

	.added_to_cart {
		color: #fff;

		&:before {
			content: "\e60e"
		}

		+.quick-view-with-icon,
		+.yith-wcwl-add-to-wishlist {
			border-top: 1px solid #e7e7e7;
		}
	}
}

.woocommerce-notices-wrapper {
	.woocommerce-error {
	    flex-direction: unset;
		display: flex;
	}
}

// Wishlist icon bottom right
.loop-wrapper-wishlist {
	position: absolute;
	z-index: 1;
	right: 5px;
	bottom: 5px;

	a {
		width: $size - 7px;
		height: $size - 7px;
		border-radius: 50%;
		background-color: #fff;
		@extend .flex;

		&:hover {
			color: #fff;
			background-color: #e33333;
		}
	}

	.yith-wcwl-wishlistexistsbrowse,
	.yith-wcwl-wishlistaddedbrowse {
		&.show {
			a {
				background-color: #e33333;
			}
		}
	}
}

// Trust badge image
.woostify-trust-badge-box {
	text-align: center;
	margin-top: 30px;
}

// HOVER
.products {
	.product {
		&:hover {
			.product-loop-action {
				@include translatey(0);
				opacity: 1;
			}

			.product-loop-image-wrapper {
				.loop-add-to-cart-btn {
					opacity: 1;
					visibility: visible;
				}
			}

			.loop-add-to-cart-on-image,
			.loop-add-to-cart-on-image+.added_to_cart {
				opacity: 1;
				visibility: visible;
				bottom: 46%;
			}
		}

		// Fix issue not showing on IE
		&:focus-within {
			.product-loop-action {
				@include translatey(0);
				opacity: 1;
			}
		}
	}
}

// Sticky button on Cart page, Checkout page.
@mixin fixed() {
	margin: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 50px;
	z-index: 500;
	width: 100%;
	border-radius: 0 !important;
}

@media (max-width: $screen-sm - 1) {
	// Sticky Single add to cart button
	.has-proceed-sticky-button {
		.wc-proceed-to-checkout .button {
			@include fixed();
		}

		#scroll-to-top {
			bottom: 60px;
		}
	}

	// Sticky Place order button
	.has-order-sticky-button {
		#place_order {
			@include fixed();
			line-height: normal;
		}

		#scroll-to-top {
			bottom: 60px;
		}

		&.has-multi-step-checkout {
			.multi-step-checkout-button-wrapper {

				.multi-step-checkout-button[data-action="continue"],
				.multi-step-checkout-button[data-action="place_order"] {
					@include fixed();
					text-align: center;
					height: 50px;
					line-height: 50px;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

#wc-stripe-payment-request-button-separator,
#wc-stripe-payment-request-wrapper {
	width: 100%;
}
