@font-face {
	font-family: 'star';
	src: url(../../plugins/woocommerce/assets/fonts/star.eot);
	src: url(../../plugins/woocommerce/assets/fonts/star.eot?#iefix) format("embedded-opentype"),
		url(../../plugins/woocommerce/assets/fonts/star.woff) format("woff"),
		url(../../plugins/woocommerce/assets/fonts/star.ttf) format("truetype"),
		url(../../plugins/woocommerce/assets/fonts/star.svg#star) format("svg");
	font-weight: 400;
	font-style: normal
}
