/* woocommerce header title */
.woocommerce-products-header__title{
	font-size: 1.7em;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	font-weight: normal;
}

/* sorting */
.woostify-sorting{
	@include flex( flex, space-between, center );
	flex-wrap: wrap;
	margin-bottom: 42px;
	
	.woocommerce-notices-wrapper{
		flex: 0 0 100%;
		margin-bottom: 20px;

		&:empty{
			display: none;
		}
	}

	.woocommerce-ordering{
		order: 2;
		position: relative;
		&:after{
			content: "\e64b";
			position: absolute;
			right: 0;
			font-family: $icon;
			pointer-events: none;
			font-size: 10px;
			top: 50%;
			@include translatey( -50% );
		}
	}
	.orderby{
		border: 0;
		padding-right: 15px;
		background-color: $tr;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	.woocommerce-result-count{
		margin-bottom: 0;
	}
}

/* product loop category */
.woocommerce-loop-product__category{
	line-height: 1.5em;
}

/* product loop title */
.woocommerce-loop-product__title{
	font-weight: normal;
	margin-bottom: 5px;
}

/* pagination */
.woocommerce-pagination{
	text-align: center;
	text-transform: uppercase;
	ul{
		padding-left: 0;
	}
	li{
		list-style: none;
		display: inline-block;
		border: 0;
		.page-numbers{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			@extend .flex;
		}
		.prev,
		.next{
			width: auto;
			padding: 0 5px;
		}
		.current{
			color: #fff;
		}
	}
}

/* price */
.price,
.product_list_widget{
	mark,
	ins{
		background-color: $tr;
	}
	del{
		+ins{
			margin-left: 3px;
		}
	}
}

/* flas sale */
.onsale{
	position: absolute;
	left: 10px;
	top: 10px;
	pointer-events: none;
	color: #fff;
	padding: 0 5px;
	font-size: 12px;
	z-index: 2;
	line-height: 1.7em;
}

/* message */
.woostify-container{
	.woocommerce{
		ul{
			list-style: none;
		}
	}
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info{
	padding: 15px;
	color: #fff;
	border-radius: 4px;
	margin-bottom: 20px;
	@include flex( flex, space-between, center );
	a{
		order: 2;
		color: #fff;
		line-height: 1;
		border: 1px solid #fff;
		padding: 10px;
		border-radius: 4px;
		&:hover{
			color: #fff;
		}
		&:before{
			content: "\e71b";
			font-family: $icon;
			margin-right: 10px;
		}
	}
}
.woocommerce-message{
	@media ( max-width: 600px ) {
		flex-direction: column;
		align-items: flex-start;
		a{
			margin-top: 15px;
		}
	}
}
.woocommerce-error{
	background-color: firebrick;
	flex-direction: column;
	align-items: flex-start;
	li{
		width: 100%;
		a{
			float: right;
		}
		@media ( max-width: 600px ) {
			display: flex;
			flex-wrap: wrap;
			a{
				float: none;
				flex: 0 0 100%;
				margin-top: 15px;
			}
		}
	}
}

/* checkout toggle login form */
.woocommerce-form-login-toggle{
	.woocommerce-info{
		margin-bottom: 0;
		background-color: $tr;
		display: block;
		padding: 0;
		a{
			color: #f00;
			padding: 0;
			&:before{
				content: none
			}
		}
	}
}

/* table */
.shop_table{
	ul{
		padding-left: 0;
	}
	
	li{
		list-style: none;
	}
}
.shop_table_responsive{
	@media ( max-width: 600px ) {
		th{
			display: none;
		}
		tr{
			&:last-of-type{
				td{
					border-bottom: 0;
				}
			}
		}
		td{
			display: block;
			border-right: 0;
			&:not(.product-remove) {
				text-align: right $i;
			}
			&:before{
				float: left;
				font-weight: bold;
				content: attr(data-title)
			}
		}
		#shipping_method{
			margin-top: 0;
		}
	}
}

/* remove overlay woocommerce */
.blockUI.blockOverlay {
    background-color: $tr $i;
}