# Compiled CSS

# Minified js
*.min.js
!/inc/customizer/custom-controls/typography/js/*.min.js
!/assets/js/vendor/*.min.js

# Sass
.sass-cache

# Grunt
/node_modules/
/woostify/
npm-debug.log

# Codekit
config.codekit

# Transifex
.transifexrc
/languages/*.po
/languages/*.mo

# PhpStorm
.idea

# macOS
.DS_Store

# Composer
/vendor

# Sublime
*.cache