.ez-zoom {
	position: relative;
}

.easyzoom-flyout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	overflow: hidden;
	background: #fff;
	@include transition( opacity 0.5s ease);
	img {
		max-width: initial;
		opacity: 1 !important;
	}
	&:hover {
		opacity: 1;
	}
}
