/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	position: relative;
	&:focus {
		outline: none;
	}
}
.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* draggable */

.flickity-enabled {
	&.is-draggable {
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		.flickity-viewport {
			cursor: move;
			cursor: -webkit-grab;
			cursor: grab;
		}

		.flickity-viewport.is-pointer-down {
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}
	}
}

/* ---- flickity-button ---- */

.flickity-button {
	position: absolute;
	background: hsla(0, 0%, 100%, 0.75);
	border: none;
	color: #333;

	&:hover {
		background: white;
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}

	&:active {
		opacity: 0.6;
	}

	&:disabled {
		opacity: 0.3;
		cursor: auto;
		pointer-events: none;
	}
}

.flickity-button-icon {
	fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
	top: 50%;
	border-radius: 50%;
	transform: translateY(-50%);
	background: #fff;
	width: 50px;
	height: 50px;

	&.previous { left: 10px; }
	&.next { right: 10px; }

	.woostify-svg-icon {
		display: inline-flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		svg {
			width: 20px;
			height: 20px;
			display: block;
		}
	}
}

/* right to left */
.flickity-rtl {
	.flickity-prev-next-button {
		&.previous {
			left: auto;
			right: 10px;
		}
		&.next {
			right: auto;
			left: 10px;
		}
	}

	.flickity-page-dots { direction: rtl; }
}

/* ---- page dots ---- */

.flickity-page-dots {
	position: absolute;
	width: 100%;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;

	.dot {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 8px;
		background: #333;
		border-radius: 50%;
		opacity: 0.25;
		cursor: pointer;

		&.is-selected {
			opacity: 1;
		}
	}
}
