.customize-control-woostify-color .wp-color-result span {
	background: #f7f7f7;
}

.customize-control-woostify-color .woostify-color-picker-alpha.wp-color-picker {
	max-width: 96px;
	line-height: 17px;
}

.customize-control-woostify-color .wp-picker-clear {
	margin-left: 2%;
}
