.rtl {
	ul {
		padding-inline-start: 0px;
	}

	figure {
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	ul,
	ol {
		padding-left: 0;
		padding-right: 20px;
	}

	li {
		ul, ol {
			margin-left: 0;
			margin-right: 20px;
		}
	}

	caption,
	th,
	td {
		text-align: right;
	}

	/* Topbar */
	@media (min-width: 992px) {
		.topbar {
			.topbar-right {
				text-align: left;
			}
		}
	}

	/* Search */
	.dialog-search-content {
		.dialog-search-header {
			padding-left: 0;
			padding-right: 20px;
		}
	}


	&.has-header-layout-7 {
		.woostify-sticky-footer-bar {
			@media (min-width: 993px) {
				right: auto;
				left: 0;
			}
		}
	}
	#woostify-login-form-popup {
		.woostify-login-form-popup-content {
			.woocommerce-form {
				&.woocommerce-form-login {

					.woocommerce-form-login__rememberme {
						text-align: right;
					}
					.lost_password {
						text-align: right;
					}
				}
				&.woocommerce-form-register {
					.form-row {
						float: revert;
					}
				}
			}
		}
	}
}

.sidebar-menu-open {
	.rtl {
		#woostify-overlay .woostify-svg-icon {
			right: auto;
			left: 20px;
		}
	}
}
