.rtl {
	#order_review {
		#shipping_method {
			li {
				display: block;
			}
		}
	}
	@media( min-width: 991px ) {
		#customer_details {
			float: right;
			padding-right: 0;
			padding-left: 40px;
		}
	}

	.lost_reset_password {
		.form-row {
			float: right;
		}
	}

	// Multi step checkout
	&.has-multi-step-checkout {
		.multi-step-item {
			&:first-of-type {
				&:after {
					left: -30px;
					right: 50%;
				}
			}

			&:not(:first-of-type):not(:last-of-type) {
				&:before {
					left: 50%;
					right: -30px;
				}

				&:after {
					left: -30px;
					right: 50%;
				}
			}

			&:last-of-type {
				&:before {
					left: 50%;
					right: -30px;
				}
			}
		}

		.multi-step-checkout-wrapper {
			float: right;

			@media (min-width: 992px) {
				padding-right: 0;
				padding-left: 40px;
			}
		}

		.shipping-methods-modified {
			.shipping-methods-modified-input {
				margin: 0 0 0 10px;
			}
		}

		.multi-step-checkout-button {
			&[data-action="continue"],
			&[data-action="place_order"] {
				float: left;
			}

			&[data-action="back"] {
				float: right;
				.woostify-svg-icon {
					transform: rotate(180deg);
					margin-left: 5px;
					margin-right: 0;
				}

			}
		}
	}

	// Thank you page
	.woocommerce-table--order-details,
	.woocommerce-table--order-details,
	.woocommerce-table--order-details {
		th,
		tr,
		td {
			&:nth-child(2) {
				text-align: left;
			}
		}
	}

	.woocommerce-thankyou-order-details {
		li {
			+ li {
				border-right: 1px dashed #e8e8e8;
				border-left: 0;
			}
		}
	}

	.woostify-woocommerce-NoticeGroup {
		margin: 0 0 0 40px;
	}

	.woocommerce-checkout-review-order-table .woocommerce-shipping-totals td {
		text-align: right !important;
	}

	&.checkout-layout-3 {
		&:not(.woobuilder-active) {
			.form-row {
				float: right;
				&.form-row-last {
					float: left;
				}

				label:not(.checkbox) {
					left: 30px;
					right: 12px;
				}
			}
			#order_review {
				.woocommerce-checkout-review-order-table tbody tr.coupon-form .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first {
					margin: 0 0 0 10px;
				}
				.shop_table .cart_item .product-name {
					padding: 0 75px 0 0;
				}
				.cart_item {
					.product-name {
						.w-product-thumb {
							left: auto;
							right: 0;
						}
						strong.product-quantity {
							right: auto;
							left: -5px;
						}
					}
				}
			}

			.back-to-cart {
				right: auto;
				left: 0;
				a {
					span {
						order: 2;
						&:last-child {
							order: 1;
						}
					}
				}
			}
			#order_review {
				@media (min-width: 992px) {
					padding-left: 0;
					padding-right: 40px;
				}
			}
		}
	}
}
