.rtl {
	#order_review {
		#shipping_method {
			li {
				display: block;
			}
		}
	}
	@media( min-width: 991px ) {
		#customer_details {
			float: right;
			padding-right: 0;
			padding-left: 40px;
		}
	}

	.lost_reset_password {
		.form-row {
			float: right;
		}
	}

	// Multi step checkout
	&.has-multi-step-checkout {
		.multi-step-item {
			&:first-of-type {
				&:after {
					left: -30px;
					right: 50%;
				}
			}

			&:not(:first-of-type):not(:last-of-type) {
				&:before {
					left: 50%;
					right: -30px;
				}

				&:after {
					left: -30px;
					right: 50%;
				}
			}

			&:last-of-type {
				&:before {
					left: 50%;
					right: -30px;
				}
			}
		}

		.multi-step-checkout-wrapper {
			float: right;

			@media (min-width: 992px) {
				padding-right: 0;
				padding-left: 40px;
			}
		}

		.shipping-methods-modified {
			.shipping-methods-modified-input {
				margin: 0 0 0 10px;
			}
		}

		.multi-step-checkout-button {
			&[data-action="continue"],
			&[data-action="place_order"] {
				float: left;
			}

			&[data-action="back"] {
				&:before {
					content: none;
				}

				&:after {
					content: "\e649";
					font-family: 'themify';
					margin-left: 5px;
					font-size: 0.8em;
				}
			}
		}
	}

	// Thank you page
	.woocommerce-table--order-details,
	.woocommerce-table--order-details,
	.woocommerce-table--order-details {
		th,
		tr,
		td {
			&:nth-child(2) {
				text-align: left;
			}
		}
	}

	.woocommerce-thankyou-order-details {
		li {
			+ li {
				border-right: 1px dashed #e8e8e8;
				border-left: 0;
			}
		}
	}
}
