.rtl {
	.cart {
		.quantity {
			margin-left: 8px;
			margin-right: 0;
		}
	}

	.wc_payment_methods {
		padding-right: 0;
	}

	.woocommerce-error {
		li {
			width: auto;
			margin-right: 15px;
			margin-left: 15px;
		}
	}

	// Cart sidebar
	@media (max-width: 599px) {
		.cart-sidebar-content {
			.mini_cart_item {
				img {
					margin-left: 15px;
					margin-right: 0;
				}
			}
		}
	}

	// Cart page
	.woocommerce-cart-form__contents {
		.product-subtotal {
			text-align: left;
		}
	}

	#shipping_method {
		padding-right: 0;
	}

	// Checkout page
	#order_review {
		th,
		td {
			&:last-child {
				text-align: left;
			}
		}
	}

	.payment_box{
		&:before {
			left: auto;
			right: 30px;
		}
	}
	.woocommerce-MyAccount-navigation {
		float: right;
	}
	.woocommerce-MyAccount-navigation {
		.woocommerce-MyAccount-navigation-link {
			a:before {
				margin-left: 15px;
				margin-right: 0;
			}
		}
	}
}
