.rtl {
	.products {
		padding: 0;
		margin: 0;
	}

	.woostify-sorting {
		.woocommerce-ordering {
			&:after {
				left: 5px;
				right: auto;
			}
		}
	}

	.product-loop-meta {
		a{
			&:before {
				margin-left: 5px;
				margin-right: 0;
			}
		}
	}
	.sidebar-menu {
		left: auto;
		right: 0;
		transform: translateX(0);
	}
	.quick-view-with-text:before {
		margin-right: 0;
		margin-left: 7px;
	}
	.widget {
		&.advanced-product-categories {
			a {
			    float: none;
			}
		}
	}
	.product-loop-meta a .woostify-svg-icon {
		margin-left: 5px;
		margin-right: 0;
	}
	.product-loop-image-wrapper .loop-add-to-cart-on-image,
	.product-loop-image-wrapper .loop-add-to-cart-on-image + .added_to_cart {
		.woostify-svg-icon {
			margin-left: 7px;
			margin-right: 0;
		}
	}
}
.sidebar-menu-open {
	.rtl {
		.sidebar-menu {
	    	transform: translateX(0%);
		}
	}
}
