.rtl {
	.products {
		padding: 0;
		margin: 0;
	}

	.woostify-sorting {
		.woocommerce-ordering {
			&:after {
				left: 5px;
				right: auto;
			}
		}
	}

	.product-loop-meta {
		a{
			&:before {
				margin-left: 5px;
				margin-right: 0;
			}
		}
	}
	.sidebar-menu {
		left: auto;
		right: 0;
		transform: translateX(100%);
	}
	.quick-view-with-text:before {
		margin-right: 0;
		margin-left: 7px;
	}
}
.sidebar-menu-open {
	.rtl {
		.sidebar-menu {
	    	transform: translateX(0%);
		}
	}
}