.products {
    clear: both;
    padding-left: 0;
    margin: 0;

    .product {
        text-align: center;
        list-style: none;
        float: left;
        margin: 0 30px 56px 0;
        position: relative;

        @media ( min-width: #{ $screen-md } ) {
            @include calc( width, '( 100% - 90px ) / 4' );
            &.last {
                margin-right: 0;
            }
        }

        @media ( min-width: #{ $screen-ios } ) and ( max-width: #{ $screen-md - 1 } ) {
            @include calc( width, '( 100% - 30px ) / 2' );
            &:nth-of-type( 2n ) {
                margin-right: 0;
            }
            &:nth-of-type( 2n + 3 ) {
                clear: both;
            }
        }
        /*ios*/
        @media ( max-width: #{ $screen-ios - 1 } ) {
            width: 100%;
            clear: both;
        }
    }

    &.columns-1 {
        .product{
            width: 100%;
            margin-right: 0;
        }
    }

    @media ( min-width: #{ $screen-md } ) {
        @for $i from 2 through 6 {
            &.columns-#{ $i } {
                .product{
                	$gutter: 30px * ( $i - 1 );
                    @include calc( width, '( 100% - #{ $gutter } ) / #{ $i }' );
                    &:nth-of-type( #{ $i }n + #{ $i + 1 } ) {
                        clear: both;
                    }
                }
            }
        }
    }
}