.customize-control.customize-control-woostify-heading {
	border-bottom: 1px solid #fff;
	padding: 5px 0;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 15px !important;
	text-transform: uppercase;
}
