.woostify-nux .woostify-nux-button,
a.woostify-nux-button {
  background: #00aadc;
  border-color: #0087be;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  box-sizing: border-box;
  font-size: 14px;
  height: auto;
  line-height: 21px;
  border-radius: 4px;
  margin: 0;
  padding: 7px 14px 9px;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: baseline;
}

.woostify-nux .woostify-nux-button:hover, .woostify-nux .woostify-nux-button:focus,
a.woostify-nux-button:hover,
a.woostify-nux-button:focus {
  border-color: #005082;
  color: white;
}

.woostify-nux .woostify-nux-button:focus,
a.woostify-nux-button:focus {
  box-shadow: 0 0 0 2px #78dcfa;
}

.woostify-nux .woostify-nux-button:active,
a.woostify-nux-button:active {
  border-width: 2px 1px 1px;
  box-shadow: none;
  vertical-align: baseline;
}

.woostify-nux .woostify-nux-button[disabled], .woostify-nux .woostify-nux-button:disabled,
a.woostify-nux-button[disabled],
a.woostify-nux-button:disabled {
  color: white;
  background: tint(#78dcfa, 50%);
  border-color: tint(#0087be, 55%);
  cursor: default;
}

.woostify-nux .woostify-nux-button[disabled]:active, .woostify-nux .woostify-nux-button:disabled:active,
a.woostify-nux-button[disabled]:active,
a.woostify-nux-button:disabled:active {
  border-width: 1px 1px 2px;
}

.woostify-notice-nux {
  background: #e9eff3;
  border: 10px solid #fff;
  color: #608299;
  padding: 60px;
  text-align: center;
  box-shadow: none;
}

.woostify-notice-nux::before, .woostify-notice-nux::after {
  content: '';
  display: table;
}

.woostify-notice-nux::after {
  clear: both;
}

.woostify-notice-nux .notice-content {
  max-width: 420px;
  margin: 0 auto;
}

.woostify-notice-nux .woostify-icon {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  margin: 0 auto 30px;
}

.woostify-notice-nux .woostify-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 50px;
  width: auto;
  height: auto;
}

.woostify-notice-nux h2 {
  margin: 0 0 10px;
  font-weight: normal;
  color: #2e4453;
}

.woostify-notice-nux p {
  margin: 0 0 2em;
  padding: 0;
  line-height: 1.6;
}

.woostify-notice-nux label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.woostify-notice-nux label:last-of-type {
  margin-bottom: 2em;
}

.woostify-notice-nux .woostify-plugin-card {
  display: block;
}

.woostify-nux-button.updating-message::before {
  display: inline-block;
  content: '\f463';
  font: normal 20px/1 'dashicons';
  margin: 3px 5px 0 -2px;
  vertical-align: bottom;
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@media only screen and (max-width: 782px) {
  .woostify-notice-nux .woostify-icon {
    width: 65px;
    height: 65px;
  }
  .woostify-notice-nux .woostify-icon img {
    padding: 10px;
  }
  .woostify-notice-nux form {
    margin-top: 30px;
  }
  .woostify-notice-nux label:last-of-type {
    margin-top: 20px;
  }
}
