.gutenberg-version [id^="woostify_metabox_settings_"].closed .hndle:hover {
  background-color: #f8f9f9;
}

.gutenberg-version [id^="woostify_metabox_settings_"] .handlediv {
  position: relative;
  z-index: 99;
}

.gutenberg-version [id^="woostify_metabox_settings_"] .hndle {
  cursor: pointer;
  color: #191e23 !important;
  border-bottom: 0 !important;
  transition: 0.1s background ease-in-out;
}

[id^="woostify_metabox_settings_"] .inside {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 0 !important;
}

/* Metabox option */
.woostify-metabox-option {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

body.old-version .woostify-metabox-option {
  padding: 12px;
}

.woostify-metabox-option select {
  width: 100%;
}

.woostify-metabox-option:after {
  content: '';
  display: block;
  clear: both;
}

.woostify-metabox-option:last-of-type {
  border-bottom: 0;
}

.woostify-metabox-option-title {
  margin-bottom: 4px;
}

/* Multi select */
.woostify-multi-selection {
  position: relative;
}

.woostify-multi-selection.active .woostify-multi-select-dropdown {
  display: block;
}

.woostify-multi-select-selection {
  border: 1px solid #ddd;
  padding: 5px 5px 0 5px;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
}

.woostify-multi-select-selection .woostify-multi-select-id {
  background-color: #f4f4f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 0 5px;
  margin-right: 7px;
}

.woostify-multi-select-id {
  cursor: pointer;
  word-break: break-all;
}

.woostify-multi-select-id.disabled {
  cursor: default;
}

.woostify-multi-select-dropdown {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid #ddd;
  border-top: 0;
  background-color: #fff;
  max-height: 145px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
  display: none;
}

.woostify-multi-select-dropdown .woostify-multi-select-id {
  padding: 5px;
  display: block;
}

.woostify-multi-select-dropdown .woostify-multi-select-id + .woostify-multi-select-id {
  border-top: 1px solid #fff;
}

.woostify-multi-select-dropdown .woostify-multi-select-id.disabled, .woostify-multi-select-dropdown .woostify-multi-select-id:hover {
  background-color: #efefef;
}
