.gutenberg-version{
	#woostify_settings_meta_box{
		&.closed {
			.hndle {
				&:hover{
					background-color: #f8f9f9;
				}
			}
		}
		.handlediv{
			position: relative;
			z-index: 99;
		}
		.hndle{
			cursor: pointer;
			color: #191e23 !important;
			border-bottom: 0 !important;
			transition: 0.1s background ease-in-out;
		}
	}
}

#woostify_settings_meta_box{
	.inside {
		margin: 0;
		padding: 0;
	}
}

/* metabox option */
.woostify-metabox-option{
	border-bottom: 1px solid #eee;
	padding: 15px;

	body.old-version &{
		padding: 12px;
	}

	select{
		width: 100%;
	}

	&:after{
		content: '';
		display: block;
		clear: both;
	}

	&:last-of-type{
		border-bottom: 0;
	}
}

.woostify-metabox-option-title{
	margin-bottom: 4px;
}
