.gutenberg-version #woostify_settings_meta_box.closed .hndle:hover {
  background-color: #f8f9f9;
}

.gutenberg-version #woostify_settings_meta_box .handlediv {
  position: relative;
  z-index: 99;
}

.gutenberg-version #woostify_settings_meta_box .hndle {
  cursor: pointer;
  color: #191e23 !important;
  border-bottom: 0 !important;
  transition: 0.1s background ease-in-out;
}

#woostify_settings_meta_box .inside {
  margin: 0;
  padding: 0;
}

/* CONTENT BOX */
/*content tab */
.woostify-metabox-content:not(.current) {
  display: none;
}

/* metabox option */
.woostify-metabox-option {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

body.old-version .woostify-metabox-option {
  padding: 12px;
}

.woostify-metabox-option select {
  width: 100%;
}

.woostify-metabox-option:after {
  content: '';
  display: block;
  clear: both;
}

.woostify-metabox-option:last-of-type {
  border-bottom: 0;
}

.woostify-metabox-option-title {
  margin-bottom: 4px;
}
