.home{
	&.blog{
		.site-main{
			.post{
				&:first-child:last-child{
					border-bottom: 0;
				}
			}
		}
	}
}

.alpha.entry-title{
    font-size: 30px;
    font-weight: normal;
}

.site-main{
    .post{
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 74px;
        +.post{
            margin-top: 80px;
        }
    }
}
.post{
    .updated:not(.published){
        @extend .sr-only
    }
    .post-cover-image{
        margin-bottom: 35px;
        img{
            max-height: 400px;
            object-fit: cover
        }
    }
    .entry-meta{
        .vcard.author{
            margin: 0 7px;
            &:before{
                content: '•';
                margin-right: 7px;
                font-size: 8px;
            }
        }
        .comments-link{
            &:before{
                content: '•';
                margin-right: 7px;
                font-size: 8px;
            }
        }
    }
    .alpha.entry-title{
        margin-top: 12px;
    }
    .entry-content{
        margin-top: 30px;
    }
    .post-read-more{
        font-weight: 600;
        margin-top: 20px;
        clear: both;
        margin-bottom: 0;
    }
}

.page-links{
    margin-top: 20px;
    a{
        &:hover{
            opacity: 0.6;
        }
        span{
            border: 1px solid #888;
            color: #888;
            cursor: pointer;
            @extend .duration;
        }
    }
    span{
        @extend .inline-flex;
        width: 26px;
        height: 26px;
        border-radius: 2px;
        border: 1px solid #ddd;
        color: #ddd;
        cursor: default;
    }
}

#post-navigation{
    margin-top: 70px;
    ul{
        margin: 0;
        padding: 0;
        .page-numbers{
            font-weight: 600;
            text-transform: uppercase;
            &:not(.prev):not(.next){
                width: 29px;
                height: 29px;
                border-radius: 50%;
                border: 1px solid $tr;
                @extend .flex;
            }
        }
    }
    li{
        list-style: none;
        display: inline-flex;
    }
    .nav-links{
        text-align: center;
    }
}

/* responsive */
@media ( max-width: $screen-md - 1 ) {
	#primary{
		+#secondary{
			margin-top: 40px;
		}
	}
}