$sidebar_width: percentage( 270 / 1170 );

.has-sidebar{
    @media ( min-width: #{$screen-md} ){
        .content-area{;
            width: 100% - $sidebar_width;
            padding-right: 60px;
        }
        .widget-area{
            width: $sidebar_width;
        }
    }
    &.left-sidebar{
        .content-area{
            float: right;
        }
        .widget-area{
            float: left;
        }
    }
    &.right-sidebar{
        .content-area{
            float: left;
        }
        .widget-area{
            float: right;
        }
    }
}

.container{
    @extend .clearfix;
}