.woostify-switch-control.switch-control {
	display: none;
}

.woostify-switch-control::-moz-selection,
.woostify-switch-control:after::-moz-selection,
.woostify-switch-control:before::-moz-selection,
.woostify-switch-control *::-moz-selection,
.woostify-switch-control *:after::-moz-selection,
.woostify-switch-control *:before::-moz-selection,
.woostify-switch-control + .switch-control-label::-moz-selection {
	background: none;
}

.woostify-switch-control::selection,
.woostify-switch-control:after::selection,
.woostify-switch-control:before::selection,
.woostify-switch-control *::selection,
.woostify-switch-control *:after::selection,
.woostify-switch-control *:before::selection,
.woostify-switch-control + .switch-control-label::selection {
	background: none;
}

.woostify-switch-control + .switch-control-label {
	outline: 0;
	display: block;
	width: 4em;
	height: 2em;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.woostify-switch-control + .switch-control-label:after,
.woostify-switch-control + .switch-control-label:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
	z-index: 5;
}

.woostify-switch-control + .switch-control-label:after {
	left: 0;
}

.woostify-switch-control + .switch-control-label:before {
	display: none;
}

.woostify-switch-control:checked + .switch-control-label:after {
	left: 50%;
}

.woostify-switch-control + .switch-control-label {
	background: #fbfbfb;
	border-radius: 2em;
	padding: 2px;
	transition: all 0.4s ease;
	border: 1px solid #e8eae9;
	box-shadow: 0 0 2px #ddd;
}

.woostify-switch-control + .switch-control-label:after {
	border-radius: 2em;
	background: #fbfbfb;
	transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.woostify-switch-control + .switch-control-label:hover:after {
	will-change: padding;
}

.woostify-switch-control + .switch-control-label:active {
	box-shadow: inset 0 0 0 2em #e8eae9;
}

.woostify-switch-control + .switch-control-label:active:after {
	padding-right: 0.8em;
}

.woostify-switch-control:checked + .switch-control-label {
	background: #86d993;
}

.woostify-switch-control:checked + .switch-control-label:active {
	box-shadow: none;
}

.woostify-switch-control:checked + .switch-control-label:active:after {
	margin-left: -0.8em;
}

/* Toggle - / o label */
.switch-control-label{
	position: relative;
}

.switch-control-label .on-off-label{
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.switch-control-label .on-off-label:before{
	position: absolute;
	content: '';
	width: 1px;
	top: 10px;
	bottom: 10px;
	left: 1em;
	background-color: #fff;
}


.switch-control-label .on-off-label:after{
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	right: 6px;
	top: 50%;
	transform: translateY( -50% );
	border: 1px solid #d7d4d4;
}

/* Animation */
.woostify-switch-toggle{
	position: relative;
}

.woostify-switch-toggle .switch-label{
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	position: absolute;
	left: 5em;
	top: 50%;
	transform: translateY( -50% );
}

.woostify-switch-toggle .woostify-switch-control ~ .left-switch{
	transform: translateX( 0 ) translateY( -50% );
}

.woostify-switch-toggle .woostify-switch-control ~ .right-switch{
	transform: translateX( 100% ) translateY( -50% );
	opacity: 0;
	visibility: hidden;
}

.woostify-switch-toggle .woostify-switch-control:checked ~ .left-switch{
	transform: translateX( -100% ) translateY( -50% );
	opacity: 0;
	visibility: hidden;
}

.woostify-switch-toggle .woostify-switch-control:checked ~ .right-switch{
	transform: translateX( 0 ) translateY( -50% );
	opacity: 1;
	visibility: visible;
}
