.woostify-message{
	.single-product &{
		.woocommerce{
			padding-top: 30px;
		}
	}
	.woocommerce{
		&:empty{
			display: none;
		}
	}
	ul{
		margin: 0;
	}
}

.wc-breadcrumb{
	.single-product &{
		padding: 35px 0;
	}
}


.woostify-breadcrumb{
	.item-bread{
		&:after{
			content: "/";
			font-size: 10px;
			margin: 0 4px;
		}
		&:last-of-type{
			&:after{
				content: none
			}
		}
	}
}

.page-header{
	.entry-title{
		font-size: 1.7em;
		font-weight: normal;
	}
}