// For Elementor preview mode
.elementor-editor-active,
.elementor-editor-preview {
	.elementor-widget-wp-widget-nav_menu {
		.menu,
		.sub-menu {
			list-style: none;
			padding-left: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

// For Elementor Mini cart
.elementor-menu-cart__products {
	.quantity {
		width: auto;
		height: auto;
		background: none;
	}
}

// Posts widget pro issue
.site-main{
	.elementor-widget-posts {
		.post{
	        +.post{
	            margin-top: 0;
	        }
	    }
	}
}

// Header elementor builder
header {
	&.elementor-element {
		position: relative;
		z-index: 6; // Higher multi step checkout item, arrow product slider in single product
	}
}

// Set full width for table inside elementor widget
.elementor-widget-woostify-product-add-to-cart {
	.variations {
		width: 100%;
	}
}
