footer#colophon {
	clear: both;
}

.site-footer {
	clear: both;

	.woobuilder-active &,
	.edited-by-divi-builder &,
	.elementor-page & {
		margin-top: 0;
	}
}

/* FOOTER WIDGET COLUMNS */

.site-footer-widget {
	float: left;
	width: 100%;
	padding: 55px 0 70px 0;

	.widget {
		float: left;
	}
}

@media ( max-width: 600px ) {
	.site-footer-widget {
		.widget_custom_html {
			margin-bottom: 25px;
		}
	}
}

.footer-widget-col-1 {
	.widget {
		width: 100%;
	}
}

@media (min-width: $screen-md) {
	@for $i from 3 through 6 {
		.footer-widget-col-#{$i} {
			.widget {
				width: percentage(1 / $i);
				padding-left: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 2;

				&:nth-of-type(#{$i}n+#{$i+1}) {
					clear: both;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	@media (max-width: 991px) {

		.footer-widget-col-3,
		.footer-widget-col-4,
		.footer-widget-col-5,
		.footer-widget-col-6 {
			.widget {
				width: 50%;
				padding-left: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 2;

				&:nth-of-type(2n+3) {
					clear: both;
				}
			}
		}
	}

	.footer-widget-col-2 {
		.widget {
			width: 50%;
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;

			&:nth-of-type(2n+3) {
				clear: both;
			}
		}
	}
}

@media (max-width: 599px) {

	.footer-widget-col-2,
	.footer-widget-col-3,
	.footer-widget-col-4,
	.footer-widget-col-5,
	.footer-widget-col-6 {
		.widget {
			width: 100%;
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
			clear: both;
		}
	}
}

/* SITE INFOR */
.site-info {
	clear: both;
	padding: 11px 0;
	@include flex(flex, space-between, center);

	&:not(:first-child) {
		border-top: 1px solid #e3e3e3;
	}

	.site-infor-col {
		&:first-child:last-child {
			text-align: center;
			width: 100%;
		}
	}

	ul {
		padding-left: 0;
		margin: 0;

		>li {
			+li {
				margin-left: 30px;
			}
		}
	}

	li {
		display: inline-block;
	}
}

/* footer action */
#scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	color: #fff;
	font-size: 1.2em;
	z-index: 200;
	border: 1px solid rgba(255, 255, 255, 0.3);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	@include translatey(100%);
	@extend .duration;
	@extend .flex;

	&.active {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		cursor: pointer;
		@include translatex(0);
	}
	&.scroll-to-top-position-left {
		left: 20px;
	}
}

/* responsive */

@media (max-width: $screen-sm) {
	.site-info {
		flex-direction: column;
		justify-content: center;

		.site-infor-col {
			text-align: center;
		}
	}
}
