// Content full-width
.elementor-template-full-width {
	&:not(.single-product) {
		#content {
			.woostify-container {
				max-width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

// Site container
.site-full-width-stretched-container {
	.woostify-container {
		padding-left: 0;
		padding-right: 0;
	}
}

.site-boxed-container {
	#view {
		margin-left: auto;
		margin-right: auto;
	}
}

.woostify-container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@extend .clearfix;
}

#view {
	position: relative;
	overflow-x: hidden;
	background-color: #fff;
	@include transition(all 0.3s);
}

.site-content {
	margin: 3.5em 0;
	@extend .clearfix;

	.elementor-page &,
	.edited-by-divi-builder & {
		margin: 0;
	}

	.single-product & {
		margin-top: 0;
	}
}

// 404
.error404 {
	.site-content {
		margin-top: 0;
		min-height: 500px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		@extend .flex;
	}

	.site-footer {
		margin-top: 0;
	}

	.error-404-text {
		max-width: 320px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.8em;
	}
}


// search
.search-no-results {

	.search-form,
	.woocommerce-product-search {
		.search-field {
			border-radius: 5px;
		}
	}
}
