/* Full width template */
.page-template-template-fullwidth{
	.woostify-container{
		width: auto;
		@extend .container-fluid;
	}
}

/* Site container */
.site-boxed-container{
	#page{
		overflow: hidden;
	}

	#view{
		margin: 50px;
		background-color: #fff;
	}
}


.site-normal-container,
.site-boxed-container {
	.woostify-container{
		@extend .container;
	}
}

.woostify-container{
	@extend .clearfix;
}

#view{
	position: relative;
	@include transition( all 0.3s );
}

.site-content{
	margin-top: 3.5em;
	@extend .clearfix;

	.single-product &,
	.elementor-page &{
		margin-top: 0;
	}
}
/* 404 */
.error404{
	.site-content{
		margin-top: 0;
		min-height: 500px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		@extend .flex;
	}
	.site-footer{
		margin-top: 0;
	}
	.error-404-text{
		max-width: 320px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.8em;
	}
}
