#site-header-cart{
    display: none;
}
.site-header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    /* logo */
    .site-branding{
        .beta.site-title{
            margin: 0;
            text-transform: lowercase;
            font-size: 24px;
        }
    }

    /* menu */
    .main-navigation{
        flex-grow: 1;
        padding: 0 20px;
        text-align: center;
        .menu-toggle{
            display: none;
        }
        .primary-navigation{
            padding-left: 0;
            margin: 0;
            > li{
                display: inline-flex;
                line-height: 1;
                > a{
                    padding: 0 20px;
                }
                ul{
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 110%;
                    left: 0;
                    margin-left: 0;
                    background: #fff;
                    min-width: 180px;
                    text-align: left;
                    z-index: 2;
                    @include scaleY(0);
                    ul{
                        top: 20%;
                        @include duration;
                    }
                    li.menu-item-has-children{
                        &:after{
                            content: "\e649";
                            font-family: $icon;
                            font-size: 12px $i;
                            top: 17px;
                            line-height: 1 $i;
                            position: absolute;
                            right: 10px;
                        }
                    }
                    a{
                        display: block;
                        padding: 10px 20px;
                        &:hover{
                            background: rgba(239, 239, 239, 0.28)
                        }
                    }
                }
            }
            li{
                position: relative;
                &:hover{
                    > ul{
                        pointer-events: auto;
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                        @include translatey( 0px );
                    }
                }
            }
            .sub-menu{
                pointer-events: none;
                @media ( min-width: #{ $screen-md } ){
                    @include shadow( 0 2px 8px 0 rgba(125, 122, 122, 0.2) );
                    border-radius: 4px;
                }
                @include duration( 0.2s );
                @include translatey( 10px );
                >li{
                    >ul{
                        @include translatey( 0px );
                        top: 0;
                        left: 110%;
                    }
                    &:hover{
                        > ul{
                            left: 100%;
                        }
                    }
                }
                a{
                    white-space: nowrap
                }
            }
        }
        li{
            list-style: none;
        }
    }

    /* search form */
    .site-search{
        min-width: 270px;
    }
    .woocommerce-product-search{
        height: 40px;
        &:after{
            font-size: 16px;
            width: 40px;
            height: 40px;
        }
        .search-field{
            padding-right: 40px;
        }
        button[type="submit"]{
            width: 40px;
        }
    }
}