
/* Header Menu */
.site-header-inner {
	border-bottom: 1px solid #eaeaea;

	p {
		&:empty {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.woostify-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		min-height: 70px;

		&:after {
			content: none;
		}
	}

	/* menu */
	.site-navigation {

		+.site-search {
			margin-left: 10px;
		}
	}

	/* search form */
	.site-search {
		min-width: 270px;
		position: relative;

		+.site-tools {
			margin-left: 10px;

			.shopping-bag-button {
				&:first-child:last-child {
					margin-left: 15px;
				}
			}
		}

		form {
			height: 40px;
			display: flex;
			align-items: center;

			&:after {
				font-size: 16px;
				width: 40px;
				height: 40px;
			}

			.search-field {
				padding-right: 40px;
				flex-grow: 1;
				width: auto;
			}

			button[type="submit"] {
				width: 40px;
			}
		}
	}
}

/* Logo */
.site-branding {
	.beta.site-title {
		margin: 0;
		font-size: 24px;
	}

	.logo {
		margin: 0;
	}
}

.menu-item {
	.menu-item-icon {
		margin-right: 10px;
		.woostify-svg-icon {
			position: relative;
			top: 1px;
		}
	}

	.menu-item-text {
		flex-grow: 1;
		word-break: normal;
	}

	.menu-item-arrow {
		cursor: pointer;
		width: 20px;
		z-index: 2;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		.woostify-svg-icon {
			svg {
				width: 11px;
				height: 11px;
			}
		}
	}
}

/* Site tools */
.site-tools {
	@include flex(flex, flex-end, center);

	.tools-icon {
		font-size: 24px;
		display: flex;
		margin-left: 15px;
		position: relative;

		.woostify-svg-icon svg {
			width: 24px;
			height: 24px;
		}

		.tools-icon {
			margin-left: 0;
		}

		&.align-center {
			align-items: center;
		}
		.woostify-header-total-price {
			margin-right: 5px;
		}
	}

	.shopping-bag-button {
		position: relative;
		margin-right: 15px;

		&.cart-icon-rotate {
			&:before {
				position: relative;
				transform: rotate3d(0, 1, 0, 180deg);
			}
			.woostify-svg-icon {
				position: relative;
				transform: rotate3d(0, 1, 0, 180deg);
			}
		}
	}

	.shop-cart-count,
	.wishlist-item-count {
		position: absolute;
		top: -6px;
		right: -15px;

		&.hide-zero-val.hide {
			display: none;
		}
	}

	.woostify-header-total-price {
		&.hide-zero-val.hide {
			display: none;
		}
	}
}

.my-account {
	position: relative;

	.my-account-icon {
		padding: 8px 0 10px;
		font-size: 24px;
		display: inline-flex;
		display: -webkit-inline-flex;
	}

	&:hover {
		.subbox {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			@include translatey(0px);
		}
	}

	.subbox {
		min-width: 180px;
		margin: 0;
		padding-left: 0;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		z-index: 12;
		left: -20px;
		top: 100%;
		background-color: #fff;
		border-radius: 4px;
		pointer-events: none;
		@include duration(0.2s);
		@include translatey(10px);
		@include shadow(0px 1px 4px 0 rgba(0, 0, 0, 0.2));

		a {
			font-size: 14px;
			padding: 10px 20px;
			display: block;
		}
	}

	ul {
		padding-left: 0;
		margin: 0;
		text-align: left;

		li:first-child {
			border-top: 0;
		}
	}

	li {
		list-style: none;
		border-top: 1px solid #eee;
	}
}

.header-search-icon {
	cursor: pointer;
	@extend .duration;
}

/* Mobile menu toggle button */
.toggle-sidebar-menu-btn {
	font-size: 24px;
	cursor: pointer;
}
