.woostify-icon-bar {
	width: 26px;
	height: 26px;
	@extend .flex;

	span {
		position: relative;
		background-color: #000;
		width: 100%;
		height: 2px;
		display: block;
		@include delay(0.5s);
		@include duration(0.5s);

		&:before,
		&:after {
			@include delay(0.5s);
			@include duration(0.5s);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $inh;
		}

		&:before {
			top: -6px;
		}

		&:after {
			bottom: -6px;
		}
	}
}

.sidebar-menu-open {
	overflow: hidden;

	.woostify-icon-bar {
		span {
			@include rotate(180);

			&:before {
				width: 50%;
				@include transform(rotate(45deg) translate(14px, -11px));
			}

			&:after {
				width: 50%;
				@include transform(rotate(-45deg) translate(14px, 11px));
			}
		}
	}

	#woostify-overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}


	#view {
		@include translatex(300px);
	}

	.rtl {
		#view {
			@include translatex(-300px);
		}
		.sidebar-menu {
			@include translatex(0);
		}
	}

	.sidebar-menu {
		@include translatex(0);
	}

	@media (min-width: $screen-md) {
		.sidebar-menu {
			.site-navigation {
				left: 60px;
				right: 60px;
			}
		}
	}
}

.sidebar-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: #fff;
	// higher #woostify-overlay: 199
	z-index: 200;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 90%;
	overflow-y: scroll;
	@include translatex(-100%);
	@extend .duration;

	&.has-nav-tab {
		padding-top: 0;
	}

	.arrow-icon {
		@extend .duration;
		@include rotate(0);

		.woostify-svg-icon {
			transition: all .3s;
		}

		&.active {
			.woostify-svg-icon {
				@include rotate(180);
			}
		}
	}

	.logged-in.admin-bar & {
		top: 46px;

		@media (min-width: 783px) {
			top: 32px;
		}
	}

	.hide {
		display: none;
	}

	.primary-navigation {
		&:not(.elementor-inner) {
			a {
			    line-height: 3em !important;
			    position: relative;
			    display: flex;
			    justify-content: space-between;
			    align-items: center;
			}
		}
	}

	// search form
	.ajax-category-filter-box {
		background-color: #f8f8f8;
		border-right: 0;
	}
	.site-search {
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;

		.search-field {
			border-radius: 3px;
		}
		.search-form-icon {
			width: 40px;
			height: 40px;
		}
	}

	.search-form,
	.woocommerce-product-search {
		height: auto;

		.search-field {
			padding-right: 40px;
			height: auto;
			min-height: 40px;
		}
	}

	.search-form .search-submit,
	.woocommerce-product-search button[type="submit"] {
		width: 40px;
	}

	.search-form,
	.woocommerce-product-search {
		&:after {
			width: 40px;
			height: 40px;
		}
	}

	.mobile-nav-tab {
		padding: 0;
		margin: 0;
		display: flex;

		@media ( min-width: $screen-md ) {
			display: none;
		}

		li {
			cursor: pointer;
			width: 50%;
			text-align: center;
			line-height: 1;
			position: relative;

			a {
				font-size: 16px;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;
			}

			&.active {
				&:after {
					content: '';
					display: block;
					height: 3px;
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}

	// menu
	.site-navigation {

		&.has-nav-tab {
			.main-navigation, .categories-navigation {
				display: none;
			}

			.main-navigation {
				&.active {
					display: block;
				}
			}

			.categories-navigation {
				&.active {
					display: block;
				}
			}
		}

		nav {
			> ul > li:first-child > a {
				border-top: 1px solid #ececec;
			}
			.menu-item {
				a {
					padding: 0 20px;
					border-bottom: 1px solid #ececec;

					> .arrow-icon {
						width: 48px;
						height: 48px;
						margin-right: -20px;
						border-left: 1px solid #ececec;
					}
					&:hover {
						background-color: rgba(0,0,0,.03);
					}
				}
			}

			.sub-menu a {
				padding-left: 30px;
			}
		}
	}

	@media ( min-width: $screen-md ) {
		.main-navigation {
			.primary-navigation {
				.menu-item-has-mega-menu {
					.mega-menu-wrapper {
						min-width: auto;
						max-width: 100%;
						transform: none;
						position: static;
						box-shadow: none;
						opacity: 1;
						visibility: visible;
					}
				}

				.sub-menu {
					margin-left: 20px;

					&:not(.sub-mega-menu) {
						transition-duration: 0s;
					}
				}

				> .menu-item {
					ul {
						&:not(.sub-mega-menu) {
							opacity: 1;
							visibility: visible;
							transform: none;
							position: static;
							box-shadow: none;
							transition-duration: 0s;
							min-width: auto;

							a {
								padding-right: 0;
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}

	.primary-navigation {
		padding-left: 0;
		margin: 0;

		.menu-item-has-children {
			position: relative;
		}

		.sub-mega-menu {
			display: none;
		}

		.sub-menu {
			border-radius: 0;
			pointer-events: auto;
			margin-left: 0;
			transition-duration: 0s;
			display: none;
			position: static;
			box-shadow: none;
			transform: none;

			a {

				&:hover {
					background-color: transparent;
				}
			}
		}

		> .menu-item {
			display: block;

			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current_page_parent,
			&.current_page_ancestor {
				>a:before {
					content: '';
					width: 40px;
				}
			}

			// Hide custom arrow
			&:after {
				content: none $i;
			}

			>a {
				padding: 0;
			}
		}
		&:not(.elementor-inner) {
			a {
				font-size: 16px;
				line-height: 3em;
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&:hover {
					&:before {
						width: 40px;
					}
				}

				&:before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 8px;
					height: 2px;
					width: 0;
					@extend .duration;

					@media ( max-width: $screen-md - 1 ) {
						display: none
					}
				}
			}
		}
	}

	// sidebar bottom
	.sidebar-menu-bottom {

		ul {
			padding-left: 0;
			margin: 0;

			li {
				a {
					padding: 0 20px;
					border-bottom: 1px solid #ececec;
				}
				&:last-child a {
					border-bottom: none;
				}
			}
		}
	}

	.sidebar-account {
		a {
			display: block;
			line-height: 3em;
			font-size: 16px;
		}
	}

	ul {
		list-style: none;
	}
}

// Header Layout 1
.has-header-layout-1 {
	@media (min-width: $screen-md) {
		.sidebar-menu {
			display: none;
		}
	}
}

// Header Layout 2
.sidebar-menu-open {
	.has-header-layout-2 {
		#view {
		    -webkit-transform: translateX(0px);
			transform: translateX(0px);
		}
	}
}
