.topbar{
	.woostify-container{
		@include flex( flex, space-between, center );
		&:after{
			content: none;
		}
	}
	.topbar-item{
		flex-grow: 1;
		&:empty{
			display: none;
		}
		p{
			&:empty{
				display: none;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}