$green: #45b964;

.appearance_page_woostify-welcome {
	#wpcontent {
		@media ( max-width: 719px ) {
			padding-left: 0;
		}
	}

	.woostify-wrap {
		background: #e9eff3;
		padding: 50px 10px 0 10px;
		border: 10px solid white;
		margin: 0 auto;

		@media ( min-width: 720px ) {
			padding: 50px;
			margin-top: 20px;
			margin-right: 20px;
		}

		a {
			text-decoration: none;
			outline: none !important;

			&:focus{
				box-shadow: none !important;
			}
		}
	}

	.woostify-welcome-nav {
		margin: -50px -10px 0 -10px;
		padding: 1em;
		
		@media ( min-width: 720px ) {
			margin: -50px -50px 0 -50px;
			padding: 0 1em;
		}

		

		.woostify-welcome-nav__version {
			color: #fff;
			display: inline-block;
			padding: 0.5em 0;
			font-weight: 700;

			@media ( min-width: 600px ) {
				float: right;
				padding: 1em 1em 1em 0;
			}
		}

		.woostify-welcome-nav_link{
			margin: 0;

			li{
				display: block;
			}

			a{
				text-decoration: none;
				color: #fff;
				display: block;
				padding: 0.5em 0;
			}

			strong{
				color: cornsilk
			}

			@media ( min-width: 600px )	{
				li{
					display: inline-block;
				}

				a {
					padding: 1em;
				}
			}
		}

		ul,
		li {
			list-style: none;
			padding: 0;
		}

		li {
			display: inline-block;
			margin: 0;
		}
	}

	.woostify-enhance {
		display: flex;
		justify-content: center;
		align-items: stretch;
		margin-top: 4em;
		flex-wrap: wrap;

		@media ( min-width: 1140px ) {
			margin: 4em 0px;
		}

		&:after{
			content: '';
			clear: both;
			display: block;
		}

		.woostify-enhance-content {
			width: 100%;

			@media ( min-width: 1140px ) {
				max-width: 600px;
				margin-right: 20px;
			}
		}

		.woostify-enhance-sidebar {
			width: 100%;

			@media ( min-width: 1140px ) {
				max-width: 350px;
			}
		}

		.woostify-enhance__column {
			border: 1px solid #d8e2e9;
			width: 100%;
			background: #fff;
			margin-bottom: 10px;

			@media ( min-width: 720px ) {
				margin-bottom: 20px;
			}

			.wst-flex {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				align-content: center;
				justyfy-content: space-between;

				.link-to-customie-item {
					margin: 10px 0;
					width: 100%;

					&.disabled{
						filter: grayscale( 100% );
						cursor: default;

						a{
							pointer-events: none;
						}
					}

					a{
						&:hover{
							opacity: 0.7;
						}
					}

					@media ( min-width: 720px ) {
						&:nth-child( odd ) {
							width: 74%;
						}

						&:nth-child( even ) {
							width: 26%;
						}
					}
				}
			}

			h3 {
				font-size: 1.1em;
				font-weight: 600;
				color: #383838;
				border-bottom: 1px solid #d8e2e9;
				padding: 1em 1.5em;
				margin: 0;
			}

			img {
				width: 100%;
				height: auto;
				margin-bottom: 1.5em;
			}
		}

		.woostify-bundle,
		.woostify-pro-featured {
			padding-bottom: 0.5em;
		}

		.woostify-bundle {
			//order: 2;

			.bundle-image {
				display: block;
				background: #f7f7f7;
				margin-bottom: 1.5em;

				img {
					display: block;
					max-width: 75%;
					margin: 0 auto;
				}
			}
		}
	}

	a.woostify-button {

		&.disabled {
			cursor: default;
			color: #c8d7e1;

			&:hover {
				border-color: #c8d7e1;
				box-shadow: 0 1px 0 #c8d7e1;
			}
		}
	}

	.automattic {
		text-align: center;
		clear: both;

		p {
			font-size: 0.75em;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #aaa;
		}

		img {
			max-height: 9px;
			margin: 0 ms(-3);
			margin-top: -3px;
			opacity: 0.5;
		}
	}

	/*  */
	.wf-quick-setting-section{
		margin: 1em 0;
		padding: 0 1.5em;
	}

	.woostify-learn-more{
		@media ( min-width: 720px ) {
			float: right;
		}
	}
}