.ht-grid {
    margin-left: -15px;
    margin-right: -15px;
    min-height: 1px;
}
.ht-grid-item {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    min-height: 1px;
    min-height: 1px;
}
@media ( min-width: 1024px) {
    @for $i from 1 through 12 {
        .ht-grid-#{$i} .ht-grid-item {
            width: calc( 100% / #{$i});
            @if ( $i > 1) {
                &:nth-of-type( #{$i}n+#{$i+1}) {
                    clear: both;
                }
            }
        }
    }
}
@media ( min-width: 768px) and ( max-width: 1023px) {
    @for $i from 1 through 12 {
        .ht-grid-tablet-#{$i} .ht-grid-item {
            width: calc( 100% / #{$i});
            @if ( $i > 1) {
                &:nth-of-type( #{$i}n+#{$i+1}) {
                    clear: both;
                }
            }
        }
    }
}
@media ( max-width: 767px) {
    @for $i from 1 through 12 {
        .ht-grid-mobile-#{$i} .ht-grid-item {
            width: calc( 100% / #{$i});
            @if ( $i > 1) {
                &:nth-of-type( #{$i}n+#{$i+1}) {
                    clear: both;
                }
            }
        }
    }
}