// Guttenberg
.no-sidebar:not(.site-boxed-container) {
    .alignfull {
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        max-width: 100vw;
        width: 100vw;
    }
    .alignwide {
        max-width: unset;
        width: unset;
    }
    .alignwide {
        margin-left: -100px;
        margin-right: -100px;
        max-width: unset;
        width: unset;
    }
    &.site-full-width-container {
        .alignwide {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    &.site-full-width-stretched-container {
        .alignwide {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}
.site-content-boxed-container.no-sidebar {
    .alignfull {
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
    }
    .alignwide {
        margin-left: -10px;
        margin-right: -10px;
    }
}

article {
    p:last-child {
        clear: both;
    }
}
.category-block {
    .entry-content {
        p {
            line-height: initial;
        }
    }
}

#comments {
    clear: both;
}

.wp-caption,
.wp-block-embed,
.wp-block-image {
    margin-left: 0;
    margin-right: 0;
}