// General
.list-unstyled {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

// Dashboard
.dokan-dashboard {
	&.single-product {
		#content {
			.content-top {
				margin-bottom: 3.5em;
			}
		}
	}

	@media (min-width: $screen-md) {
		.dokan-dashboard-wrap {
			min-height: 700px;
			min-height: 90vh;
		}
	}

	fieldset {
		border: 0;
		padding: 0;
	}

	table {
		width: auto;
	}

	.dokan-table,
	.table {
		table-layout: auto;
		width: 100%;

		thead {
			th {
				word-break: normal;
			}
		}
	}

	.btn {
		padding-left: 15px;
		padding-right: 15px;
		background-color: #efefef;
	}

	.dokan-form-control {
		border-radius: 4px;
	}

	.col-link {
		white-space: nowrap;

		a {
			white-space: nowrap;
		}
	}
}

// Store
.dokan-store {
	.dokan-widget-area {
		.widget-title {
			font-size: 20px;
		}

		ul,
		ol {
			padding-left: 0;
		}
	}
}

@media (min-width: $screen-md) {
	.has-sidebar {
		// Dokan sidebar
		&.has-dokan-sidebar {
			.content-area {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}

		&.left-sidebar {
			.content-area {
				padding-left: 30px;
			}
		}

		&.right-sidebar {
			.content-area {
				padding-right: 30px;
			}
		}

		// Theme sidebar
		&.dokan-with-theme-sidebar {
			&.left-sidebar {
				.content-area {
					padding-left: 0;
					width: 100%;
				}

				#dokan-primary {
					float: right;
				}
			}

			&.right-sidebar {
				.content-area {
					padding-right: 0;
					width: 100%;
				}
			}
		}
	}
}
